<head>
    <title>
        Social Tool Kit - World Wide Conscience Cleaner by Odicforcesounds
    </title>
    <meta name='subject' content='World Wide Challenge'>
    <meta name="keywords" content="OdicforceSounds, SunWukong, Hanuman, logic, science, tao, world, wide, conscience, cleaner, project, challenge, edm, odin">
    <meta name='description' content='OdicforceSounds World Wide Message'>
    <meta name='keywords' content='Tao, YinYang, odicforcesounds, social, tool, kit, conscience, cleaner'>
    <meta name='target' content='all'>
    <meta name='DC.title' content='Social Tool Kit - World Wide Conscious Cleaner by Odicforcesounds'>
</head>
<br>
<table class="table table-dark">
    <thead>
        <tr class="bg-primary">
            <th scope="col" id="yinyang">
                <a routerLink="/sixty/nine" routerLinkActive="active">☯</a></th>
            <th id="symbol" scope="col">:</th>
            <th scope="col" id="fantasy">Fantasy</th>
            <th id="symbol" scope="col">+</th>
            <th scope="col" id="logic">Logic</th>
            <th id="symbol" scope="col">=</th>
            <th scope="col" id="application">Application</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" id="yinyang">
                <a routerLink="/tao/yin/yang" routerLinkActive="active"><span style="font-size: 18px">
                        道</span></a></th>
            <td id="symbol" scope="col">:</td>
            <td>
                <a routerLink="/three/you/tell/me" routerLinkActive="active">
                    <i class="fa fa-om"></i></a></td>
            <td id="symbol" scope="col">+</td>
            <td><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/secret/responsability/exposed" routerLinkActive="active">
                    Spirit</a></td>
            <td id="symbol" scope="col">=</td>
            <td><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/expression" routerLinkActive="active">
                    Expression</a></td>
        </tr>

        <tr>
            <th scope="row" id="yinyang">God</th>
            <th id="symbol" scope="col">:</th>
            <td id="fantasy"><i class="fas fa-cross"></i>
                Religions</td>
            <td id="symbol" scope="col">+</td>
            <td id="logic"><i class="fas fa-pray"></i>
                Self</td>
            <td id="symbol" scope="col">=</td>
            <td id="application">☸ Conscience</td>
        </tr>

        <tr>
            <th scope="row" id="yinyang">
                <a routerLink="/running/out/of/time/no/turning/back" routerLinkActive="active">
                    Time</a></th>
            <th id="symbol" scope="col">:</th>
            <td id="fantasy">☪
                Zodiac</td>
            <td id="symbol" scope="col">+</td>
            <td id="logic">☮ Soul</td>
            <td id="symbol" scope="col">=</td>
            <td id="application"> ✪ Birth </td>
        </tr>

        <tr>
            <th scope="row" id="yinyang"><i class="fa fa-book" aria-hidden="true"></i>
                <a routerLink="/wiki/intro" routerLinkActive="active">
                    Education</a></th>
            <th id="symbol" scope="col">:</th>
            <td><i class="fa fa-bicycle" aria-hidden="true"></i>
                <a routerLink="/dont/take/us/seriously/we/are/having/fun" routerLinkActive="active">
                    Fun</a></td>
            <td id="symbol" scope="col">+</td>
            <td scope="row" id="application"><i class="fa fa-play" aria-hidden="true"></i>
                Society
            </td>

            <td id="symbol" scope="col">=</td>
            <td>
                <p><i class="fa fa-gamepad" aria-hidden="true"></i>

                    <a routerLink="/the/game/project/is/fun/to/take/care" routerLinkActive="active">
                        Game</a>
                </p>
            </td>      
        </tr>

        <tr>
            <th scope="row" id="yinyang"><i class="fa fa-user" aria-hidden="true"></i>
                Person</th>
            <th id="symbol" scope="col">:</th>
            <td scope="row"><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/social" routerLinkActive="active">
                    Social</a>

            <td id="symbol" scope="col">+</td>
            <td id="application"><i class="fa fa-group" aria-hidden="true"></i>
                Politics</td>
                <td id="symbol" scope="col">=</td>
            <td><i class="fas fa-video"></i>
                <a target="_blank" href="https://wiki.odicforcesounds.com/docs/Tao/Yin/1/Logic/Challenge/Play/Actions.html">
                    Actions</a></td>           
        </tr>

        <tr>
            <th scope="row" id="yinyang"><i class="fa fa-briefcase" aria-hidden="true"></i>
                <a routerLink="/lets/make/business" routerLinkActive="active">
                    Business</a></th>
            <th id="symbol" scope="col">:</th>
            <td id="fantasy"><i class="fas fa-sign-in-alt"></i> Sign In</td>
            <td id="symbol" scope="col">+</td>
            <td id="logic"><i class="fa fa-industry" aria-hidden="true"></i>

                Science</td>
                <td id="symbol" scope="col">=</td>
            <td id="application"><i class="fa fa-flask" aria-hidden="true"></i>
                Industry</td>
        </tr>

        <tr>
            <th scope="row" id="yinyang">
                <i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/not/the/worst/music/in/the/world" routerLinkActive="active">
                    Music</a></th>
            <th id="symbol" scope="col">:</th>
            <td><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/money/is/no/power" routerLinkActive="active">
                    Power</a></td>
            <td id="symbol" scope="col">+</td>
            <td>
                <i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/show/us/some/respect/warning" routerLinkActive="active">
                    Spirituality</a></td>
       
        <td id="symbol" scope="col">=</td>
            <td id="logic"><i class="fa fa-ravelry" aria-hidden="true"></i>
                Resonance</td>
            
            </tr>
        <tr>
            <th scope="row" id="yinyang"><i class="fa fa-magic" aria-hidden="true"></i>
                <a routerLink="/fire" routerLinkActive="active">
                    Magic</a>
            </th>
            <th id="symbol" scope="col">:</th>
            <td>❄ <a routerLink="/wiki/core" routerLinkActive="active">
                    Concepts</a></td>
            <td id="symbol" scope="col">+</td>
            <td><i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/myth/illusions/memories" routerLinkActive="active">
                    illusion</a></td>
             <td id="symbol" scope="col">=</td>
            <td id="logic"><i class="fa fa-square" aria-hidden="true"></i>
                Forms</td> </tr> 
        <tr>
            <th scope="row" id="yinyang"><i class="fa fa-users" aria-hidden="true"></i>
                Communities</th>
            <th id="symbol" scope="col">:</th>
            <td id="fantasy"><i class="fa fa-flag" aria-hidden="true"></i>
                Causes</td>
            <td id="symbol" scope="col">+</td>
            <td><i class="fa fa-trophy" aria-hidden="true"></i>
                <a target="_blank" href="https://wiki.odicforcesounds.com">
                    Challenges</a></td>    <td id="symbol" scope="col">=</td>
            <td id="logic">✔ Logos</td>
        </tr>

        <tr>
            <th scope="row" id="yinyang"><i class="fab fa-connectdevelop"></i>
                <a target="_blank" href="https://wiki.odicforcesounds.com/docs/Tao/Yin/1/Logic/Github/Developers.html">
                    Developers</a></th>
            <th id="symbol" scope="col">:</th>
            <td><i class="fa fa-play"></i>
                <a routerLink="/hacking/into/the/error/festival/patch" routerLinkActive="active">
                    Hacking</a></td>
            <td id="symbol" scope="col">+</td>
            <td id="logic"><i class="fa fa-fire" aria-hidden="true"></i> 
                Firebase</td>      <td id="symbol" scope="col">=</td>
            <td id="fantasy"><i class="fab fa-github"></i>
                GitHub</td>
       
  
        </tr>

        <tr>
            <th scope="row" id="yinyang">
                <i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/data/objects/and/functions" routerLinkActive="active">
                    Data </a>
            </th>
            <th id="symbol" scope="col">:</th>
            <td id="fantasy">Functions</td>
            <td id="symbol" scope="col">+</td>
            <td id="logic">Variables</td>
            <td id="symbol" scope="col">=</td>
            <td>
                <i class="fa fa-play" aria-hidden="true"></i>
                <a routerLink="/we/are/tools/objects/of/expression" routerLinkActive="active">
                    Tools</a></td>
        </tr>

    </tbody>
</table>