<head>
  <meta name='description' content='3 You Tell Me by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='3 You Tell Me by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
  <title>3 You Tell Me by OdicforceSounds</title>
</head>
<div id="player">
  <iframe width="80%" height="550" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/315973878&amp;color=%230066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>
<div id="text-box">
  <p>And here it is</p><br>
  <p>The 3 of Fire (OM)</p><br>
  <p>With me</p><br>
  <p>an Element of Metal</p><br>
  <p>to Care <a routerLink="/you/are/the/wood/i/am/the/fire" routerLinkActive="active">Water</a> ( Nuclear )</p><br>
  <p>What Should I do with it?</p><br>
  <p>Kill Everyone?</p><br>
  <p>Not <a routerLink="/my/style" routerLinkActive="active">My Style</a>!!</p><br>
</div>