<head>
    <title>
      Social Tool Kit - World Wide Conscience Cleaner by Odicforcesounds
    </title>
    <meta name='subject' content='World Wide Challenge'>
    <meta name="keywords" content="OdicforceSounds, SunWukong, Hanuman, logic, science, tao, world, wide, conscience, cleaner, project, challenge, edm, odin">
    <meta name='description' content='OdicforceSounds World Wide Message'>
    <meta name='keywords' content='Tao, YinYang, odicforcesounds, social, tool, kit, conscience, cleaner'>
    <meta name='target' content='all'>
    <meta name='DC.title' content='Social Tool Kit - World Wide Conscience Cleaner by Odicforcesounds'>
  </head>

  <div id="main">
      <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=small/bgcol=333333/linkcol=0f91ff/track=879330028/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
    <br>
      <h3>For Educational Proposes Only</h3>
    <br>
    <h4>Close Your Eyes, What Can You See, What Can You Do?</h4>
    <h4>Open You Eyes, What Can You See, What Can You Do?</h4>
    <br>
    <h5>This is Our <a routerLink="/the/challenge" routerLinkActive="active">Challenge</a>, like Life is, so We are Free to Play!</h5>
    <br>
    <p>Signals of Time: <a routerLink="/we/must/change/our/ways" routerLinkActive="active">
      No matter what We think, but what we Do!
    </a></p><br>
    <p> <a routerLink="/the/fun/project/is/fun/to/take/care" routerLinkActive="active">The Game Project - Is Fun To Take Care</a></p><br>
    <p>Some way or another, we all care</p><br>
    <p>Imagine it, as a <a routerLink="/call/me/karma" routerLinkActive="active">Karma</a> </p>
    <p>Healing game</p>
    <p>your personal Curriculum Vitae</p>
    <p>with all your Civic actions</p>
    <p>Social actions are political actions</p>
    <p>while you will realize... </p><br>
    <p>I am a <b>Music</b> lover, <b>Nature</b> lover, <b>Animals</b> lover and mostly <b>Human</b> lover</p>
     <p>just <a routerLink="/because/we/love" routerLinkActive="active">Because I Love</a> My Own <b>Nature</b>!</p>
      <br>
      <p><i>The process of education is based on repetition</i></p>
      <p>For those who don't have the will to Care Nature environment</p>
      <p>because they have no motivation...</p>
      <p>because even those who cannot possess need to survive...</p>
      <p>is because each action, express each choice, love!</p>
      <p>is because even life cost money, as you already know, almost sure...</p>
      <p>is because conditions need to survive, as you may know, if you can...</p>
      <p>not because the concept of different coins, coins represent value...</p>
      <p>not because the condition of different objects being different, represents value...</p>
      <p>value is always and always be expressed by choice!</p>
      <br><br>
      <p><span style="background-color:black">
          Click <a routerLink="/emotional/signals" routerLinkActive="active">here</a>
          to go back to "Emotional Signals" album</span>
      </p>
    </div>


