<head>
  <title>
    Vital Manupulation - Become Mad by Odicforcesounds
  </title>
  <meta name='description' content='Vital Manupulation - Become Mad by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, vital, manipulation, mad, tribute">
  <meta name='DC.title' content='Vital Manupulation - Become Mad by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">

  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507//bgcol=ffffff/linkcol=0687f5/minimal=true/track=1049034482/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
</div>
<div id="text-box">

  <br>
  <p>Naturally, the obvious result of imposing Will's of Power, result in people getting mad.</p>
  <p>If Power is impositive by illusion, is good power...</p>
  <p>if Power is impositive by condition, is not...</p>
  <p>While all society live in a impositive condition...</p>
  <p>I am here to create balance of choice!</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/only/tributes" routerLinkActive="active">here</a>
      to go back to "Only Tributes" album</span>
  </p>
</div>