html{
  padding: 0;
  margin: 0;
  background-color: #444;
  box-sizing: border-box;
  align-items: stretch;
}

body{
  margin: -0%;
  margin-top: -1%;
}

p{
  font-size: calc(1.1vw + 1vh + 0.5vmin);
}

a{
  color: lightblue(0, 247, 255);
  font-size: calc(1.1vw + 1vh + 0.5vmin);
  text-decoration: none;
  margin-top: 0;
  margin-left: 0;
  
}

a:hover{
  color: orange;
}

span{
  color:yellow;
}

h1{
  text-align: center;
  color: yellow;
  background-color: black;
  display: inline;
}

nav{
  position: relative;
}

nav li{
  display: inline-flex;
}

ul {
  top: 0;
  padding: 0.5%;
}

li {
  text-align:center;
  list-style-type: none;
}

li a{
  color: white;
  text-decoration: none;
  font-size: xx-large;
}

#Home{
  float: right;
}

#YinYang{
  color:white;
  float: left;
}

#YinYang:hover a{
  background-color: white;
  color: black;
}

#Dao{
  color:aquamarine;
  margin-right: 20px;
}

#Dao:hover a{
  color:black;
}

#OscarFM{
  color: grey;
  float: right;
}

#OscarFM:hover a{
  background-color: grey;
  color:black;
}

#topmenus{
  text-align: center;
  position: relative;
  top: 0;
  height: 40px;
  margin-bottom: 1rem;
}

#social{
  position: flex-end;
  width: 40px;
}

#social a{
  padding: 0.1%;
  align-content: center;
  align-items: center;
  align-self: auto;
}

#main{
  justify-items: stretch;

}
