html{  
  background-color: #000;
}

body{
  margin: 0;
  margin-top: 0;
}

p{
  font-size: calc(1.1vw + 1vh + 0.5vmin);
  color: aqua;
}

h1{
  color: yellowgreen;
}

h2{
  color:yellowgreen;
}

h3{
  color: yellowgreen;
}

h4{
  color: yellowgreen;
}

h5{
  color: yellowgreen;
}

a{
  color: whitesmoke;
  text-decoration: none;
  margin-top: 0;
  margin-left: 0;
}

span{
  color:yellow;
}

nav{
  position: relative;
}

nav li{
  display: inline-flex;
}

ul {
  top: 0;
  padding: 0.5%;
}

li {
  list-style-type: none;
}

li a{
  color: white;
  text-decoration: none;
  font-size: calc(2.3vw + 1vh + 1.2vmin);
  margin-left: 2rem;
}

#Home{
  float: right;
  margin-right: 2rem;
}

#YinYang{
  float: left;
}

#Dao{
  color:aquamarine;
  width: 40px;
}

#Dao:hover a{
  color:black;
}

#OscarFM{
  margin-right: 2rem;
  float: right;
}

nav{
  text-align: center;
  position: relative;
  padding: 1em;
  top: 0;
  height: 30px;
  margin-bottom: 1rem;
}

#social{
  position: fixed;
  width: 40px;
  margin-top: 15%;
}

#social a{
  padding: 0.1%;
  align-content: center;
  align-items: center;
  align-self: auto;
}

#main{
  text-align: center;
}

#player {
  text-align: center;
  margin-top: 2%;
}


.yy{
  width: calc(2vw + 0.5vh + 0.2vmin);
}

.monk{
  width: calc(2vw + 0.5vh + 0.2vmin);
}

.tao{
  width: calc(2vw + 0.5vh + 0.2vmin);
}

.om{
  width: calc(2vw + 0.5vh + 0.2vmin)
}

.git{
  width: calc(2vw + 0.5vh + 0.2vmin)
}
