#Home{
  float: right;
  margin-right: 3.5rem;
}

#YinYang{
  color:white;
  float: left;
}
#YinYang:hover a{
  background-color: white;
  color: black;
}

#Dao{
  color:aquamarine;
}
#Dao:hover a{
  background-color: aquamarine;
  color:black;
}

#OscarFM{
  color: grey;
  float: right;
  margin-right: 2rem;
}
#OscarFM:hover a{
  background-color: grey;
  color:black;
}

#topmenus{
  padding: 2%;
  text-align: center;
  position: relative;
  top: 0;
  width: 98%;
  height: 50px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  position: relative;
  top: 0;
}

li {
  text-align:center;
  position: relative;
}