<head>
    <meta name='description' content='The Magic of Fantasy by OdicforceSounds'>
    <meta name='target' content='all'>
    <meta name='DC.title' content='The Magic of Fantasy by OdicforceSounds'>
    <meta http-equiv='Expires' content='0'>
    <meta name="robots" content="index" />
    <title>The Magic of Fantasy by OdicforceSounds</title>
  </head>
  <div id="banner">
  <br>
  <div id="main">
      <div>
        <a routerLink="/fire" routerLinkActive="active"><span style="background-color:black">Fire</span></a>
      </div>
      <div>
          <a routerLink="/sun/wukong/the/monkey/king" routerLinkActive="active"><span style="background-color:black">King</span></a>
      </div>
      <div>
          <a routerLink="/it/is/all/about/us" routerLinkActive="active"><span style="background-color:black">All</span></a>
      </div>
      <div>
          <a routerLink="/lets/make/business" routerLinkActive="active"><span style="background-color:black">Business</span></a>
      </div>
      <div>
        <a routerLink="/water/blood/path" routerLinkActive="active"><span style="background-color:black">Path</span></a>
      </div>
      <div>
        <a routerLink="/walking/river" routerLinkActive="active"><span style="background-color:black">River</span></a>
      </div>

  </div><br><br>
  <br><br>
  <div id="main">
      <div>
          <a routerLink="/love/or/die" routerLinkActive="active"><span style="background-color:black">Love</span></a>
      </div>
      <div>
          <a routerLink="/piano/words" routerLinkActive="active"><span style="background-color:black">Piano</span></a>
      </div>
      <div>
          <a routerLink="/press/for/monkey" routerLinkActive="active"><span style="background-color:black">Monkeys</span></a>
      </div>
      <div>
        <a routerLink="/need/activity" routerLinkActive="active"><span style="background-color:black">Activity</span></a>
      </div>
      <div>
        <a routerLink="/last/days/of/sacrifice" routerLinkActive="active"><span style="background-color:black">Sacrifice</span></a>
      </div>
      <div>
          <a routerLink="/fast/signals" routerLinkActive="active"><span style="background-color:black">Signals</span></a>
      </div>
  </div>
  <br><br>
  <br><br>
  <div id="main">
      <div>
          <a routerLink="/brain/chilout" routerLinkActive="active"><span style="background-color:black">Brain</span></a>
      </div>
      <div>
          <a routerLink="/do/music" routerLinkActive="active"><span style="background-color:black">Music</span></a>
      </div>
      <div>
        <a routerLink="/sexy/feeling" routerLinkActive="active"><span style="background-color:black">Sexy</span></a>
      </div>
      <div>
        <a routerLink="/by/your/side" routerLinkActive="active"><span style="background-color:black">Side</span></a>
      </div>
       <div>
          <a routerLink="/dance/like/water" routerLinkActive="active"><span style="background-color:black">Dance</span></a>
      </div>
      <div>
          <a routerLink="/crafting/new/generations" routerLinkActive="active"><span style="background-color:black">Generations</span></a>
      </div>
  </div>
  <br><br>
  <br><br>
  <div id="main">
      <div>
          <a routerLink="/make/it/right" routerLinkActive="active"><span style="background-color:black">Right</span></a>
      </div>
      <div>
          <a routerLink="/not/alone/holy/shadows" routerLinkActive="active"><span style="background-color:black">Shadows</span></a>
      </div>
      <div>
          <a routerLink="/set/us/free" routerLinkActive="active"><span style="background-color:black">Free</span></a>
      </div>
      <div>
        <a routerLink="/deeds" routerLinkActive="active"><span style="background-color:black">Deeds</span></a>
      </div>
      <div>
        <a routerLink="/lead/the/way" routerLinkActive="active"><span style="background-color:black">Lead</span></a>
      </div>
      <div>
        <a routerLink="/you/are/the/wood/i/am/the/fire" routerLinkActive="active"><span style="background-color:black">Wood</span></a>
      </div>
  </div>
