<head>
  <title>
    Hacking - Into the Error Festival Patch by OdicforceSounds
  </title>
  <meta name='description' content='Hacking - Into the Error Festival Patch by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, SunWukong, Hanuman, logic, science, tao, hacking, hack, error, festival, edm, patch">
  <meta name='DC.title' content='Hacking - Into the Error Festival Patch by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="main">
    <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=small/bgcol=333333/linkcol=0f91ff/track=2333038022/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
</div>
  <div id="text-box">Being Creative is what is needed to Hack! But wait, not only being creative, because we are all creative and
    not everyone of us can Hack. <a href="https://en.wikipedia.org/wiki/Hacking" target="_blank">Hacking</a>
    can only happen with knowledge, and we can only gain knowledge by testing over and over again while knowing
    what is the components of what we wish to hack, can help. But technology is not the only group of systems that
    can be hacked. Every single system can be hacked, and shall be, because there is no absolute secure system,
    since the most secure is turned off and destroyed. Technology work and deal with expressions. Numeric and logic expressions.
    <a href="https://en.wikipedia.org/wiki/Software_developer" target="_blank">Developers</a> all over the world
    try to develop software to be used by users, but they don't know anything about the user intention, and nothing about user knowledge.
    While technology offers all the tools to Debug Software behaviors, and learn how to change it!
    Society work in the same way, publicity work with the same tools, business, politics, religions, spirituality, art, music, etc...
    What I mean is, in a educational process, we all hack others system to educate them, not in the same way,
    a martial art master don't hack the student, but give him clues about where to start. If the student can use that information to start,
    it means the student is using his/her intelligence and is interested to continue learning. If the student don't wish to learn, the master don't wish to teach!
    <br><br>
    <p><span style="background-color:black">
        Click <a routerLink="/emotional/signals" routerLinkActive="active">here</a>
        to go back to "Emotional Signals" album</span>
    </p>
  </div>

