<div id="table">
<table>
    <tbody>
      <tr>
        <td>
          <p>Participate in this <a routerLink="/the/challenge" routerLinkActive="active">Challenge</a>, Or by Playing, Or by 
            <a routerLink="/wiki/developers" routerLinkActive="active">Developing</a>, Or Both!</p>
          <p>Helping to care <i>
              <a routerLink="/nature/care/path" routerLinkActive="active">Nature</a>, 
              <a routerLink="/animal/care/path" routerLinkActive="active">Animals</a> and 
              <a routerLink="/human/care/path" routerLinkActive="active">People</a></i>, is something that most people do by <b>Free <a routerLink="/possession/of/will" routerLinkActive="active">Will</a> of Choice</b>.</p>
          <p>Since this day's, people <span style="background-color: black; color: red">Kill</span> for "Money", as <a routerLink="/money/is/no/power" routerLinkActive="active">money</a> is needed to <b><span style="color:palegreen">Survive</span></b>,</p>
          <p>this Challenge Will Give You "money" to <span style="color:aqua">Care</span>, Not to <span style="color:red">Destroy</span>!</p>
          <p>Caring is to give a chance to another living being beside our self's to become better,</p>
          <p>in any Level of it's own <a routerLink="/vital/manipulation/become/mad" routerLinkActive="active">Vital</a> condition to survive!</p>
          <p>You may think that many organizations, public or private that already invest in this kind of problems,</p>
          <p>but hey, more than "money" to solve problems, we need 
              <a routerLink="/wiki/path" routerLinkActive="active">actions</a>!</p>
          <p>This challenge give you "Odic Points" to solve problems, which is fair!</p>
          <p>And by the way, "<a routerLink="/odic/points" routerLinkActive="active">Odic Points</a>" will be converted into 
            "<a routerLink="/odic/coins" routerLinkActive="active">Odic Coins</a>", for all Individuals.</p>
          <p>Companies or Brands, only deal with "Odic Points".</p>
          <p>Money is a numeric Expression created to Express Gratitude.</p>
          <p>This day's, money become the main tool to survive, while it serve's the same propose. </p>
          <p>Working give us money as a gratitude for our time dedicated to a "service".</p>
          <p>Well, Caring any kind of community is a duty, but even duties are payed.</p>
          <p>So, there is nothing new here, just a simple motivation to 
            <a routerLink="/we/must/change/our/ways" routerLinkActive="active">Change Our Ways</a>, on how we behave.</p>
        </td>
      </tr>
    </tbody>
  </table>

</div>
