#image{
  margin-top: 1rem;
  text-align: center;
}

#description{
  position: relative;
  text-align: justify;
  width: 90%;
  margin-left: 10%;
}

#description p{
  margin: 2rem;
  text-align: justify;
  text-align: justify;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
}


.container {
  text-align: center;
  background: url("./backgrounds/shivakalidance.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: -1%;
  /* Set up positioning */
  position: absolute;
  left: 0;
}