html {
  margin:0;
  padding:0;
  background-color: #333;
}

a {
  color:white;
  text-decoration:none;
  text-align: center;
  align-content: center;
  align-self: center;
}

#main{
  padding: 1%;
  font-size: larger;
}

#image{
  margin-top: 1rem;
  text-align: center;
}

#description{
  position: relative;
}

#description p{
  margin-left: 15%;
  text-align: justify;
  color: lightblue;
  width: 75%;
}

h1{
  text-align: center;
  color: aqua;
}

