<head>
  <title>
    V - Euclidean Space by Odicforcesounds
  </title>
  <meta name='description' content=' V - Euclidean Space by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, V for Vendetta, tribute, v">
  <meta name='DC.title' content=' V - Euclidean Space by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />

</head>

<div id="main">

  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507//bgcol=333333/linkcol=0f91ff/minimal=true/track=50155109/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
</div>
<div id="text-box">
  <br>
  <p>World wide Target</p>
  <p> <a href="https://en.wikipedia.org/wiki/V_for_Vendetta_(film)" target="_blank">V for Vendetta</a> Tribute! </p>
  <p>Maybe a tribute to all the fans of this Movie</p>
  <p>I feel like I am this guy who explode him self into a tower</p>
  <p>But I do not approve that behavior</p>
  <p>Is a contraditional way to judge and to express freedom</p>
  <p>That example does not create a feeling of freedom...</p>
  <p>Not a single moment... but fear!</p>
  <p>Is always good to know we can be free from impositive systems</p>
  <p>Most if we are not part of that behavior example</p>
  <p>We Learn by examples not always by theory.</p>
  <p>That is a good answer to accept society is getting violent...</p>
  <p>Not only by their expressions, but because they learn from an example </p>
  <p>which maybe they were victim of...</p>
  <p>Learning is like teaching</p>
  <p>a process to care the same results we wish to teach</p>
  <p>We all have the free choice to be free of any system</p>
  <p>Is our choice to decide what kind of life style we wish to have</p>
  <p>Naturally, each conditional life style, have many controversial conditions states</p>
  <p>I think society is living good </p>
  <p>while is learning to love</p>
  <p>because Not everyone learn it...</p>
  <p>because Not everyone suffer for it... if they desire to love...</p>
  <p>while the movie talk about how love can vanish...</p>
  <p>in that tragic compulsive need to express Change</p>
  <p>and find that him will is stronger than Love...</p>
  <p>While his egocentric decision, that will care others decisions...</p>
  <p>destroing an historic building...</p>
  <p>a symbol of human history... which is art... </p>
  <p>A Sad story in fact.. </p>
  <p>but since human history is full of those examples</p>
  <p>is a good movie!</p>
  <p>Since is good to teach the bad examples to learn what we can learn from them</p>
  <p>We learn not their historical expression</p>
  <p>We Learn their historical results</p>
  <p>Which are in most cases, egocentric wills</p>
  <p>which do not care others perspectives</p>
  <p>It means they dont ask!</p>
  <p>Asking is the step to learn</p>
  <p>Not only theory, but reality</p>
  <p>This realtity full of dreams!</p>
  <p>Full of illusions!</p>
  <p>Full of Creations!</p>
  <p>We Should teach how to care illusions which care</p>
  <p>While we warn about those illusions made to not care</p>
  <p>One create a possible oposite</p>
  <p>While I belive I made a wrong decision</p>
  <p>It will give You an opportunity to find the right one!</p>
  <p>If I am wrong... is not bad</p>
  <p>is information to care other choice!</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/only/tributes" routerLinkActive="active">here</a>
      to go back to "Only Tributes" album</span>
  </p>
</div>