body {
    background-color: black;
}
table {
    border-collapse: collapse;
    border: 0.1px solid rgb(0, 237, 245);
    width: 100%;
    min-width: 25%;
    text-align: center;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-shrink: 1;
    -webkit-flex-shrink: 1;
    vertical-align: top;
    align-content: center;
    padding-left: 1%;
    background-color: black;
    font-size: calc(0.3vw + 0.5vh + 0.3vmin);
}

table th {
    border: 0.1px solid rgb(0, 237, 245);
    text-align: center;
    font-size: 120%;
    padding: 10px;
    align-content: center;
    vertical-align: middle;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

table td {
    border: 0.1px solid rgb(0, 217, 255);
    font-size: 120%;
    text-align: center;
    padding: 1px;
    align-content: center;
    vertical-align: middle;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

#yinyang {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


#fantasy {
    background-color: rgb(0, 26, 255);
    color: yellow;
}

#logic {
    background-color: rgb(255, 238, 0);
    color: rgb(0, 4, 255);
}

#application {
    background-color: rgb(115, 255, 0);
    color: rgb(0, 0, 0);
}

#symbol {
    background-color: rgb(0, 0, 0);
    color:rgb(0, 255, 0);
}