<head>
  <title>
   Concept Proof of Spiritual Compatibility by OdicforceSounds
  </title>
  <meta name='description' content='Oscar FM - Concept Proof of Spiritual Compatibility by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Oscar FM - Concept Proof of Spiritual Compatibility by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="banner">

          <section class="columns">

        <div class="column">
                <h3><span style="background-color:black;color:#e5ff00">
                    <a routerLink="/mystic/portal/" routerLinkActive="active">Mystic Portal - We Are One</a></span></h3>
            <h4><span style="background-color:black;color:#e5ff00">Feel Free to Read Your Own<a href="https://www.mybodygraph.com" target="_blank" > Body Graph</a></span>
            </h4>
            <div id="image">
            <img src="https://path_of_shields.keybase.pub/Myth-illusions-Memories/Expression/SecretResponsabilityExposed.jpg" width="300px" height="350" alt="">
            <br>
                <p><span style="background-color:black;color:#e5ff00">and this is Our <br> <a routerLink="/secret/responsability/exposed">Secret Responsability</a></span></p> 
        </div>

        </div>

        <div class="column">
            <h2>About Me</h2>
            <p><span style="background-color:black;color:aliceblue">
                Name:</span>
                <span style="background-color:black;color:#01ff16">Óscar Forniés Macedo</span> </p>
            <p><span style="background-color:black;color:aliceblue">
                Oscar Ocidental Meaning:</span>
                <span style="background-color:black;color:rgb(1, 255, 22)">(friend)</span>  </p>
            <p><span style="background-color:black;color:aliceblue">
                Óscar Oriental Meaning:</span>
                <span style="background-color:black;color:#01ff16">(<a routerLink="/galactic/passion/dragon/fire" routerLinkActive="active">Dragon</a>)</span> </p>
            <p><span style="background-color:black;color:aliceblue">
                Forniés Meaning:</span>
                <span style="background-color:black;color:#01ff16">(Who work in the <a routerLink="/birds/of/fire" routerLinkActive="active">Coven</a>)</span> </p>
            <p><span style="background-color:black;color:aliceblue">
                Macedo Meaning:</span>
                <span style="background-color:black;color:#01ff16">(Above the  <a routerLink="/just/another/open/door" routerLinkActive="active">Door</a>)</span> </p>
            <p><span style="background-color:black;color:aliceblue">
                Location:</span>
                <span style="background-color:black;color:rgb(1, 255, 22)"> <a href="https://en.wikipedia.org/wiki/Porto" target="_blank">Porto</a>  - Portugal</span> </p>
            <p><span style="background-color:black;color:aliceblue">
                Born Date:</span>
                <span style="background-color:black;color:#01ff16"> 20 / 05 / 1980</span> </p>
            <p><span style="background-color:black;color:aliceblue">
                Ocidental Sign:</span>
                <span style="background-color:black;color:#01ff16"><a routerLink="/noise/frequency/impulse" routerLinkActive="active">Tauros</a></span> </p>
            <p><span style="background-color:black;color:aliceblue">
                Oriental Sign:</span>
                <span style="background-color:black;color:#01ff16"><a routerLink="/sun/wukong/the/monkey/king" routerLinkActive="active"> Monkey</a></span> </p>
            <p><span style="background-color:black;color:aliceblue">
                Nature Element:</span>
                <span style="background-color:black;color:rgb(1, 255, 22)"><a routerLink="/you/are/the/wood/i/am/the/fire" routerLinkActive="active">Metal</a></span> </p>
            <p><span style="background-color:black;color:aliceblue">
                kiu:</span>
                <span style="background-color:black;color:#01ff16"> <a routerLink="/yellow/energy/burning/box" routerLinkActive="active">Yellow Crystal</a> Human</span> </p>

        </div>
        <div class="column"><br><br>
            <p><span style="background-color:black;color:#ffee00">And this is my "Mystic Compatibility", not only in <a routerLink="/data/objects/and/functions" routerLinkActive="active">data</a>, but in meaning. Life is a <a routerLink="/my/dream/boom/festival" routerLinkActive="active">Dream</a>,
            based on <a routerLink="/myth/illusions/memories" routerLinkActive="active">illusions</a>, then we dream.
            <a routerLink="/awakening/dreams" routerLinkActive="active">Dreaming</a> take time, as a dream needs an <a routerLink="/wiki" routerLinkActive="active">objective</a>", and the right <a routerLink="/possession/of/will" routerLinkActive="active">Will</a> to Possess the <a routerLink="/hunting/dreams/hunters" routerLinkActive="active">Dream</a>.
            </span></p><br>
            <div id="frame">
                    <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3889959682/size=small/bgcol=333333/linkcol=0f91ff/track=2416245975/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/the-long-road">The Long Road by Odicforcesounds</a></iframe>            
          
                    <br><br>
                <p><span style="background-color:black;color:#0051ff">
                About OdicforceSounds: <br>
                    <a href="https://www.facebook.com/odicforcesounds/" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                        Facebook </a> <br>
                    <a href="https://www.instagram.com/odicforcesounds/" target="_blank">
                        <i class="fab fa-instagram"></i>
                        Instagram</a> <br>
                    <a href="https://twitter.com/OdicforceSounds" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                        Twitter</a> <br>
                    <a href="https://rakzhodekams.tumblr.com​​​​​​​​​" target="_blank">
                        <i class="fab fa-tumblr"></i>
                        Tumblr</a> <br>
                    <a href="https://www.youtube.com/channel/UCz214ZIahPCbPQWcJPp574w" target="_blank">
                        <i class="fab fa-youtube"></i>
                        Youtube</a>
                </span></p>
                </div>
        </div>
    </section>
</div>
