<section class="columns">

    <div class="column">
        <h2>Introduction</h2>
        <p>Welcome to Our <a routerLink="/crafting/new/generations" routerLinkActive="active">Next Generations</a> World Wide Challenge!</p>
        <p>Education is inetivable, so lets give a chance to learn about it!</p>
    </div>

    <div class="column">
        <h2>Rules</h2>
        <p>Each employee is free to choose what actions they wish to participate
        While a company can do a lot more than single fragmented actions from their employees
        All actions that serves a benefic decision to others, will lead to gain more Odic Points.
        Companies deal with a lot of decisions as a source of (business) and (production).
        <span style="color:aliceblue">Business</span> Care the Way products are produced!
        <span style="color: aliceblue">Production</span> Care the Way production becomes a product! 
        The Workers and all internal decisions to create and maintain the final product.</p>
    </div>
</section>
<section class="columns">
    <div class="column">
        <h2>Registration</h2>
        <p>Without Your decision to participate in my decision</p>
        <p> nothing is "official" (Yet)</p>
        <p>Send email to "om HAT odicforcesounds DOT com"</p>
        <br>
        <p>Brandname + Number_Of_Employees == Number_of_Benefic_Actions </p>
        <p>Number_of_Benefic_Actions + Number_of_Registered_Brands = Future!</p>
    </div>

    <div class="column">
        <h2>Extra </h2>
        <p>Users Odic_Points will revert into OdiCoins and should have EXPRESSION in Real Economy!
        Crypto Coins ( any ) should be integrated. Bitcoins for example.
        One Single Bitcoin have enought Value to Express Gratitude of Choice!
        Companies ear Odic_Points by Users Actions. Companies don't Ear Odic_Coins!
        Companies Odic_Points are used to Express World Wide Brands Competition Status!
        Then, companies gain Social Gratitude, and Employees gain Social experience and Civic / Political Gratitude.</p>
    </div>
</section>
