html {
  margin:0;
  padding:0;
  background-color: #333;
}

body {
  margin-top:1%;
  margin-left:1%;
  margin-right:1%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  position: sticky;
}

li {
  text-align:center;
  display: inline-block;
  position: relative;
}



p {
  font-size:48px;
  color:lightblue;
}

h1{
  font-size:36px;
  color:white;
}

#main {
  background: url("./backgrounds/YinYang.jpg") no-repeat no-repeat fixed;
  height: 780px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-content: center;
  text-align: center;
  margin-top: -3%;
}

#vt {
  position: relative;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#vt a{
  color: yellow;
  background-color: black;
}

#mw{
  position: relative;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#mw a{
  color: yellow;
  background-color: black;
}

#st{
  position: relative;
  font-size: calc(1.3vw + 1vh + 1.2vmin);

}

#st a{
  color: yellow;
  background-color: black;
}

#skd{
  position: relative;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#skd a{
  color: yellow;
  background-color: black;
}

#ed{
  position: relative;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#ed a{
  color: yellow;
  background-color: black;
}

#nf{
  position: relative;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#nf a{
  color: yellow;
  background-color: black;
}

#es{
  position: relative;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#es a{
  color: yellow;
  background-color: black;
}

#ot {
  position: relative;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#ot a {
  color: yellow;
  background-color: black;
}

#wb{
  position: relative;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#left{
  float: left;
  margin-left: 2rem;
}

#right{
  float: right;
}

#upper{
  width: 100px;
  height: 100px;
  text-align: center;
  margin-left: 47%;
  position: absolute;
}

#downCenter{
  text-align: center;
  bottom: 0;
  position: absolute;
  margin-left: 45%; 
}