#main {
  background: url("./backgrounds/YinYang.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: 0;
  
  /* Set up positioning */
  position: relative;
  left: 0;
}

#main{
  text-align: center;
}

#vt {
  position: relative;
  display: block;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#vt a{
  color: yellow;
  background-color: black;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#mw{
  position: relative;
  display: block;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#mw a{
  color: yellow;
  background-color: black;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#st{
  position: relative;
  display: block;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#st a{
  color: yellow;
  background-color: black;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#skd{
  position: relative;
  display: block;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#skd a{
  color: yellow;
  background-color: black;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#ed{
  position: relative;
  display: block;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#ed a{
  color: yellow;
  background-color: black;
}

#nf{
  position: relative;
  display: block;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#nf a{
  color: yellow;
  background-color: black;
}

#es{
  position: relative;
  display: block;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#es a{
  color: yellow;
  background-color: black;
}

#ot {
  position: relative;
  display: block;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#ot a {
  color: yellow;
  background-color: black;
}

#wb{
  position: relative;
  font-size: calc(1.3vw + 1vh + 1.2vmin);
}

#left{
  display: block;
  margin-top: 5rem;
}

#right{
  display: block;
  margin-top: 5rem;
}

#upper{
  display: block;
  position: relative;
  top: -3;
}

#downCenter{
  bottom: 0;
  display: block;
  position: relative;
}
