.container {
  background: url("./backgrounds/YinYang.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height=100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: 0;

  /* Set up positioning */
  position: absolute;
  left: 0;
}

#main{
  display:flex;
  width: 100%;
  height: 100%;
}

#vt {
  display: flex;
  flex-direction:column;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#vt a{
  color: yellow;
  background-color: black;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#mw{
  display: flex;
  flex-direction:column;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#mw a{
  color: yellow;
  background-color: black;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#st{
  display: flex;
  flex-direction:column;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#st a{
  color: yellow;
  background-color: black;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#skd{
  display: flex;
  flex-direction:column;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#skd a{
  color: yellow;
  background-color: black;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#ed{
  display:flex;
  flex-direction:column;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#ed a{
  color: yellow;
  background-color: black;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#nf{
  display: flex;
  flex-direction:column;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#nf a{
  color: yellow;
  background-color: black;
}

#es{
  display: flex;
  flex-direction:column;
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}


#es a{
  color: yellow;
  background-color: black;
}

#ot {
  display: block;
  font-size: calc(1.1vw + 1vh + 0.2vmin);
}

#ot a {
  color: yellow;
  background-color: black;
}

#wb{
  font-size: calc(1.1vw + 1vh + 1.2vmin);
}

#left{
    display:flex;
    flex-direction:column;
}
#left div{
    padding:1rem;
}

#right{
    display:flex;
    flex-direction:column;
}
#right div{
    padding:1rem;
}

#upper{
    display:flex;
    margin-left:5%;
    margin-top:10%;
}

#downCenter{
    display:flex;
    bottom:0;
    margin-left: 2%;
    position:absolute;
}
