<head>
  <title>
    Tao - Yin Yang by Odicforcesounds
  </title>
  <meta name='description' content='Tao - Yin Yang by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, SunWukong, Hanuman, logic, science, tao, YinYang, edm">
  <meta name='DC.title' content='Tao - Yin Yang by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=small/bgcol=333333/linkcol=0f91ff/minimal=true/track=2219052614/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
  <br>
  <a routerLink="/boom/cat" routerLinkActive="active">Boom Cat</a>
  <br>
  <p>Ref: <a routerLink="/magnetic/condition/psy/cats" routerLinkActive="active">Psy Cats</a></p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/emotional/signals" routerLinkActive="active">here</a>
      to go back to "Emotional Signals" album</span>
  </p>
</div>