<head>
    <title>Are You Evil by OdicforceSounds</title>
    <meta name='description' content='Are You Evil by OdicforceSounds'>
    <meta name='target' content='all'>
    <meta name='DC.title' content='Are You Evil by OdicforceSounds'>
    <meta http-equiv='Expires' content='0'>
    <meta name="robots" content="index" />
  </head>

  <div id="player">
    <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3203497115/size=small/bgcol=333333/linkcol=0f91ff/track=565954315/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/the-unpredictable-change-2">The Unpredictable Change by Odicforcesounds</a></iframe>
  </div>
  <div id="text-box">
  <p>What is being Evil?</p>
  <p>We Can say that everyone who make questions are being Evil</p>
  <p>But naturally being Evil is being in a Condition of Power</p>
  <p>But, if you understand the propose of being Evil</p>
  <p>I mean, if you understand that we live in society because some "Evil"</p>
  <p>Think and Manipulate our society</p>
  <p>Is not being Evil in the sense of transformation and upgrade</p>
  <p>It is being Evil in the sense of transformation and upgrade</p>
  <p>Some people like to find stable solutions and use them for eternity</p>
  <p>Others keep tracking all kind of problems to fix them and have better solutions</p>
  <p>You see, imagine Your life with your wife and you want silence at night so both can sleep</p>
  <p>Preparing a "surprise" for the people who do noise when You wish to sleep, is being Evil</p>
  <p>Naturally, for the benefit of both perspectives</p>
  <p>the surprise is not always good and you should talk </p>
  <p>You should talk with the people ( asking to not make more noise )</p>
  <p>Saying You wish to sleep... </p>
  <p>Giving time to time, if they continue You can call the police to solve the problem.</p>
  <p>Even calling the police is Evil, because You thought about a solution to solve your problems</p>
  <p>Developers around the world, feel them selfs Evil in that point of view</p>
  <p>They question everything, they test everything, they change and manipulate what ever they wish to</p>
  <p>What cant You do with knowledge?</p>
  <br><br>
</div>
