#image{
  float: left;
  margin-top: 2rem;
  margin-left: 2rem;
}

#description{
  position: relative;
  margin-right: 2rem;
}

#description p{
  float: right;
  text-align: justify;
  color: lightblue;
  margin-top: -30%;
  width: 66%;
}


