<div id="table"><br>
<table>
    <thead>
      <tr>
        <td><h3>What is the Idea behind World Cleaner</h3></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <p>Imagine it, as a <a routerLink="/call/me/karma" routerLinkActive="active">Karma</a> Healing Game,</p>
            <p>your personal Curriculum Vitae, with all your Civic actions,</p>
            <p>while you will realize that is really good for your inner self, like many of us do!</p>
            <p>A Realtime Challenge that will Benefit All. A World Wide Target Challenge!</p>
            <p>The main idea is to motivate people to take care of the around.</p>
            <p>While most people say they do it, this way we can ensure they really do.</p>
            <p>More important than say "I care", is to make actions of care with a <b>Concept Proof</b>!</p>
            <p>All concept proof's related to this challenge, Will be recorded in User Profile Action
            <a routerLink="/data/objects/and/functions" routerLinkActive="active"> <b>Data</b></a>!</p>
            <p>Earn Points, earn Game status, earn Professional status, earn Civic status, earn Real Gifts,</p>
            <p>earn life Experience, earn Personal Happiness, earn Political Projection!</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

