<head>
  <meta name='description' content='About Me & You by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='About Me & You by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
  <title>About Me & You by OdicforceSounds</title>
</head>
<div class="text-box">
<h3>About Me & You</h3>
<p>
    More than anything, a single one, with no more than <span style="color:lightgreen">1%</span> different from others humans.
    The face is different, and many others aspects related to the human body are <span style="color:lightblue">99%</span> equal to many.
    It means we are the same body with different exterior aspects, that can be judge with different hierarchic levels of beauty.
    But then, each one of us have the same tool with different perspectives to deal and understand itself and the world around.
    In that aspect, we can be <span style="color:lightblue">99%</span> different with <span style="color:lightgreen">1%</span> equal, or in the shadows of verbal interpretations, <span style="color:lightblue">99%</span> equal and <span style="color:lightgreen">1%</span> different from each one of all people who lived, lives and it will live!
    So, even with all that difference, or equivalence, we are more or less <span style="color:lightblue">99%</span> equal to each other.
    So there is no problem at all, but many solutions.
</p>
<p>
    Interpretations of emotions is an inside process, that some don’t reflect an interpretation of itself but an spontaneous act of choice, and others, that were not done, a complex verbal expression that can be described as music, poetry, paint and many others ways that are related to human history ( art and expression ).
    Art can be found in history as choking or simply as an emotion that will give us the freedom to give our own interpretation about that image, sound, reading, colors, moves, etc...
</p>
<p>
    Most expressions need to be related to Earth, just because earth is the floor where we all live.
    Earth is our Home, and Earth is censorial, and Mother of Life in a random place of this Galaxy, of a random Galaxy of Universe.
    Earth is a lucky Planet that have everything that We need to exist, Water and Air, without forgetting the Fire, that can exist with different proprieties out of this planet, or out of this galaxy, but in all stars, Sun’s of random galaxies, that have random planets with the possibility of <span style="color:lightgreen">1%</span> to have life forms in a universe more or less <span style="color:lightblue">99%</span> equal to itself.
    Well, I can imagine that is <span style="color:lightblue">99%</span> equal as its architecture but not as its forms or proprieties, because many of the techniques of creativity or creation are <span style="color:lightgreen">1%</span> of <span style="color:lightblue">99%</span> of the logical thinking process that is based of rationality, discipline and repetition.
    Any creation is a new perspective that is no less than <span style="color:lightblue">99%</span> equal to all the rational and logical techniques tools that can be used as shadows of verbal interpretation perspective, that is <span style="color:lightblue">99%</span> equal and <span style="color:lightgreen">1%</span> different from each one of all people who lived, lives and it will live, that represents the Core Knowledge of life creation.
</p>
<p>
    So, even with all that difference, or equivalence, we are more or less <span style="color:lightblue">99%</span> equal to each other.
</p>
<p>
    Any creation is a new perspective that is no less than <span style="color:lightblue">99%</span> equal to all the rational and logical techniques tools that can be used as a tool or simple technique of expression.
</p>
<p>
    Intelligence is only a technique or tool that makes abstracts relations with abstracts or non-abstracts objects, without the need of having a full knowledge of each object, as the lamp of creativity is.
    A simple tool that make relations of many things without the need of having a full knowledge of each object to use abstracts or non-abstracts objects and create a new form, tool, expression, etc.
</p>
<p>
    <span style="color:lightblue">99%</span> of the work that I called “OdicforceSounds” is a full creative story that use many of abstracts or non-abstracts objects that were in my mind, living news and school learning knowledge that I have no deep knowledge to all objects, and with a single and simple sequence of objects that can be related to an abstract object, that is for those who ear, something less abstract that really is. ( sound, emotion and expression )
</p>
<p>
    This history more than anything is about my perception of time, that in fact is my expression, the unique human propriety that humanity try to share and conserve to remember it self as human.
</p>
<p>
    No is not related to friends, family or anyone or community in their <span style="color:lightblue">99%</span> difference between each others and <span style="color:lightgreen">1%</span> equal in their structure, but my self as center of the world (that is not True).
</p>
<p>
    Truth is, that we are all simple signals of emotions, and expressions. Each one of us, alone with many others alone, in their own body's.
</p>
    <h6>“As Water can wet or knock, as Wind bring the Whispering or Thunder Scream, as Fire, Life and Death ”</h6>
<p>
    The will of being in this  loneliness self is the start point to understand what kind of social duty we need to have to complete our self's. The joy of living in community.
    In fact, we all live in communities, even when we are with our public or non-public group of people which we normally call them friends, or closely, family. The place that we are what we like to be. Normally when each one do what ever each one want to, in their community space, is in a state of Love and Compassion, not only for it self but to those in the Community.
</p>
<p>
    The screams of a baby that don’t use worlds, but the compassionate caring love of her mother that understand what she wants. A silent acknowledgment of a smile that give us more than words.
</p>
<p>
    What human life is more than an expression? An expression of existence.
    This is where the story begone. The <b>Love</b> Letter that grumbler the <b>Vibrational Zone</b>.
    As any interpretation of any emotion can be <span style="color:lightblue">99%</span> to <span style="color:lightgreen">1%</span> common to others sense, images can be used to express emotions.
    How sweet is to share an emotion, a dream, a life, our own expression of our own
    <a routerLink="/simplicity" routerLinkActive="active">Simplicity</a>.
</p>
<p>
    Creativity and Improvisation, called many times as Intelligence.
</p>
<p>
    With the full description of news around to the World, that didn't found tools to talk and share without using weapons, I made a relation to North Mythology, in their abstract object of a symbolic emotional expression of War.
    All the solutions related to this story that are not Music, Paint and Lyric Expressions, are the <span style="color:lightgreen">1%</span> of it self, represented by me as Gifts that I wish no one destroy them, because more than funny as fantasy can be, they are really good tools for all of us, because we all know how much we love to play games.
</p>
<p>
    We need to believe that change is inside of us, then, us as one Expression of Existence.
</p>
<p>
    While <span style="color:yellow">Buddha</span> can be the Simplicity of Discipline that aims to be stable, <span style="color:greenyellow">Shiva</span> have different approach of how stability can be aim to the self as an emotion.
</p>
<p>
    In my non-fully knowledge of all abstracts or non-abstracts objects that each God have in their own religion concept of it self, I make relations that makes a fully fantasy story with a mix of different perspectives of the same probability of cause: <span style="color:lightblue">99%</span> of real information about each God is different from the other, but <span style="color:lightgreen">1%</span> equal in the message technique.
</p>
<p>
    So I had this dream or image in my mind that is only a dream like many others that have sense or not, and because it was in my head, it was real for me, but for you can only be a peace of emotions that I express writing, abstracts images or mix of colors, and electronic music that can be the best way to mix any kind of music with a <span style="color:lightblue">99%</span> different music that will make a <span style="color:lightgreen">1%</span> of creativity or emotion.
</p>
<p>
    I Love Existence, Philosophy but mostly Religions ( message ) that are living concepts of <b>Civic Actions</b>, not only for humans, but for animals ( as we all are ) !!!
</p>
</div>
