h1{
  font-size:36px;
  color:black;
}

#main {
  text-align: center;
  background: url("./backgrounds/Love.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: -1%;
  
  /* Set up positioning */
  position: relative;
  left: 0;
}