
a {
  color:white;
  text-decoration:none;
  font-size:calc(1vw + 0.5vh + 0.2vmin);
  text-align: center;
  align-content: center;
  align-self: center;
}

p {
  font-size:28px;
  color:yellow
}

h1{
  font-size:36px;
  color:white;
}

h2{
  font-size:36px;
  color:white;
}

h3{
  font-size:36px;
  color:white;
}

#main {
  text-align: center;
  background: url("./backgrounds/Visions.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: 0;
  
  /* Set up positioning */
  position: relative;
  left: 0;
}
