<head>
  <title>
    OdicforceSounds Eternal License
  </title>
</head>
<div id="banner">
    <div id="main">
    <h3><span style="background-color:black">You are Included in This World Wide Target Eternal License</span></h3>
    <div id="player">
    <iframe  style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1220184279/size=small/bgcol=333333/linkcol=0f91ff/track=3416329563/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/signals-of-time">Signals Of Time by Odicforcesounds</a></iframe>
    </div>  
  </div>
    <div id="text-box">
    <p><span style="background-color:black;color:red">If You Deny to participate in [<a routerLink="/wiki" routerActiveLink="active">World Cleaner</a>] Challenge, All Your Good 
      <a routerLink="/deeds" routerActiveLink="active">Deeds</a> in your different Births shall be mine, and all the Bad deeds done by me shall be Yours.</span>
    <span style="background-color:black;color:red"> If on the contrary, you properly maintain the Endowment, the Merit shall belong to You alone!!!</span></p><br>
    <p><span style="color:yellow;background-color:black">This License target all Brands of the world! Individual or groups who represents a <b>LOGO</b>!!!</span></p><br>
    <p><span style="color:greenyellow;background-color:black">If You don't represent one or more <b>Brands</b>, <span style="color:aquamarine">are Not included in this License!!!</span></span></p><br>
    <p><span style="color:lightgreen;background-color:black">If You don't Contribute to this Project that aims to Care <b>Nature</b> and All living beings, <span style="color:darkorange">You are included in this License!!!</span></span></p><br>
    <p><span style="background-color:black;color:orange">If You use the same <span style="color:gray"><a routerLink="/just/a/technical/skill/set" routerLinkActive="active">Technique</a></span> to motivate <span style="color:red">Violent</span> Actions against someone or <span style="color:lightgreen">Nature</span> it self, You are included!!!</span></p><br>
    <p><span style="background-color:black;color:orange">If You <span style="color:red">Kill</span> any <span style="color:azure">Animal</span> just for <a routerLink="/money/is/no/power" routerLinkActive="active">Money</a> or <span style="color:aqua"> <a routerLink="/the/game/project/is/fun/to/take/care" routerActiveLink="active">Fun</a></span>, You are included!!!</span></p><br>
    <p><span style="background-color:black;color:orange">If You use <span style="color:red">Guns</span> or <span style="color:red">Bombs</span> to show <a routerLink="/id/666" RouterLinkActive="active">Power</a>, You are included!!! </span>
      </p><br>
    <p><span style="background-color:black;color:orange">If You <span style="color:red">kill</span> any <span style="color:aliceblue">Human</span> being, You are included!!!</span></p><br>
    <p><span style="background-color:black;color:orange">If You <span style="color:red">Hit</span> someone because he/she make You Feel <a routerLink="/not/bad/wrong" routerLinkActive="active">Bad</a>, You are included!!!</span></p><br>
    <p><span style="background-color:black;color:orange">If You <span style="color:red">Hit</span> someone because You are Out of <a routerLink="/control/free/to/ask" routerLinkActive="active">Control</a>, You are included!!!</span></p><br>
    <p><span style="background-color:black;color:orange">If You <span style="color:red">Hit</span> someone or use other method to Impose Your <a routerLink="/lords/egocentric/will" routerLinkActive="active">Will</a>, You are included!!!</span></p><br>
    </div><br><br><br>
</div>

