
h1{
  font-size:36px;
  color:black;
}

.table{
  text-align: center;
}
.table tr{
  text-align: center;
}
.table span{
  text-align: center;
}
/* HTML ID's  */

#main {
  background: url("../Expression/backgrounds/Tree_of_life.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: 0;
  
  /* Set up positioning */
  position: relative;
  left: 0;
}

#main table{
  text-align: center;
}
#main tbody{
  text-align: center;
}

#signals{
  font-size: 28px;
  text-align: center;
}

#main a{
  text-align: center;
  font-size: 28px;
  color: rgb(102, 255, 0);
  background-color: black;
  width: 40%;
}