<head>
  <title>
    Just a Technical Skill Set by Odicforcesounds
  </title>
  <meta name='description' content='Just a Technical Skill Set by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, technical, skill">
  <meta name='DC.title' content='Just a Technical Skill Set by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=514105498//bgcol=ffffff/linkcol=0687f5/minimal=true/track=610172736/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/noise-frequency-impulse">Noise Frequency - Impulse by
      Odicforcesounds</a></iframe>
</div>
<div id="text-box">

  <br>
  <p>Here is the pratical and scientific method to create illusions</p>
  <p>Spirituality is made using the same concepts and have the same levels of wills (at least)</p>
  <p>Naturally, coding an illusions is "esier" then building an illusions</p>
  <p>while together can be perfect to give continuity to both illusional paths</p>
  <p>since both use logic!</p>
  <p>since both use structures</p>
  <p>since both use probability</p>
  <p>Do You know developers who never made a mistake?</p>
  <p>Do You think?</p>
  <p>Maybe that is a mistake...</p>
  <p>But keep doing mistakes...</p>
  <p>The debug message may help you to do less mistakes...</p>
  <p>so You learn...</p>
  <p>Maybe you shouldn learn anything...</p>
  <p>if you not desire to change your own simplicity...</p>
  <p>if you accept your own illusions as simple illusions...</p>
  <p>that come and go...</p>
  <p>like the water of any river </p>
  <p>then dont learn...</p>
  <p>do not change anything...</p>
  <p>just live...</p>
  <p>in peace...</p>
  <p>while you should pay attention to your illusions</p>
  <p>Since they are part of reality!</p>
  <p>and if we care to gain peace in our own illusional path</p>
  <p>may we care to gain peace in others illusional path as well</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/noise/frequency/impulse" routerLinkActive="active">here</a>
      to go back to "Noise Frequency - Impulse" album</span>
  </p>
</div>