<head>
  <title>
    Machine World by OdicforceSounds
  </title>
  <meta name='description' content='Machine World by OdicforceSounds'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp">
  <meta name='target' content='all'>
  <meta name='DC.title' content='Machine World by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="banner">
  <div id="main">
    <div id="text-box">
      <p>
    This album is in fact a description of reality in the way of describing the human abstract wills and desires, to upgrade knowledge and to use technology for their own progress. In the shadows, there was a
    <a routerLink="/storming/plan/enigmatic/war" routerLinkActive="active">Storming Plan</a> to reclaim War, because this reality was draining human’s time and true pleasure, the simplicity of living Free.
    Humanity was more and more concentrated in cities, and human laws ask
    <a routerLink="/control/free/to/ask" routerLinkActive="active">control</a> to all of them.
    They live for business and pleasures mostly at night, where all the interactions were close to any
    <a routerLink="/forest/jungle/at/night" routerLinkActive="active">jungle</a>. in any forest.
    Listening groovy music in a strange way, vibrations could be
    <a routerLink="/strange/groove/noise" routerLinkActive="active">noisy</a>
    and they were putting their life’s, between
    <a routerLink="/panic/luck" routerLinkActive="active">
      Panic and Luck</a> In form of Art and Expression, they represent
      <a routerLink="/pain/art/illusion/and/expression" routerLinkActive="active">pain</a>
      in many ways and in different forms using different sources, to
      <a routerLink="/noise/breaker/lead/the/way" routerLinkActive="active">break</a>
      their personal noise, so they could
      <a routerLink="/time/to/live/cache/cleaner" routerLinkActive="active">clean</a> their soul like a
      <a routerLink="/thunder/with/within/and/without" routerLinkActive="active">thunder</a>.
      and finally understand that nothing
        was wrong with them, because it was only a way to express them self’s. <br>
      </p>
  </div>
</div>
</div>