<head>
  <title>
    Who We Are by OdicforceSounds
  </title>
  <meta name='description' content='Who We Are by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Who We Are by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="banner"><br><br><br><br><br>
    <div id="main">
    <span id="msg"><br>
    <p>As Water can Wet or Knock,</p>
    <p>As the Wind brings the Whisperings of Thunder Screams,</p>
    <p>As Fire, Life and Death.</p></span><br>
    <p>Read <a routerLink="/about/me/and/you" routerLinkActive="active">more</a></p><br>
    </div>
    <p style="display:block;text-align:center">
      <iframe style="border: 0; width: 50%; height: 100px;" src="https://bandcamp.com/EmbeddedPlayer/album=2867421876/size=small/bgcol=333333/linkcol=0f91ff/track=2401383008/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/galactic-signature">Galactic Signature by Odicforcesounds</a></iframe>
    </p>
</div>
