p {
  font-size:28px;
  color:black;
}

h1{
  font-size:36px;
  color:black;
}

#main {
  text-align: center;
  background: url("./backgrounds/peaceCode.jpg") no-repeat no-repeat fixed;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#main h1{
  color:white;
}