p {
  font-size:28px;
  color:black;
}

h1{
  font-size:36px;
  color:black;
}

#main {
  text-align: center;
  background: url("./backgrounds/peaceCode.jpg") no-repeat no-repeat fixed;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: 0;
  
  /* Set up positioning */
  position: absolute;
  left: 0;
}

#main h1{
  color:white;
}

