html {
  margin:0;
  padding:0;
  background-color:#333;
}

body {
  margin-top:-1%;

}

p {
  font-size:28px;
  color:black;
}

h1{
  font-size:36px;
  color:black;
}
/* HTML ID's  */

#topmenus{
  padding: 1%;
}

#main {
  text-align: center;
  background: url("./backgrounds/peaceCode.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -3%;
}

#main h1{
  color:white;
}