h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

#text-box {
text-align: center;
font-size: 5em;
color: yellow;
}

#image {
text-align: center;

}

#bodygraph {
text-align: center;
font-size: 0.5em;
}

#banner {
background: url("https://raw.githubusercontent.com/odicforcesounds/Myth-illusions-Memories/master/MagicOfFantasy/SunWukong.jpg") no-repeat center center fixed;
background-size: cover;
/* Set up proportionate scaling */
min-width: 100%;
min-height: 100%;
margin-top: 0;

/* Set up positioning */
position: absolute;
}

p {
font-size: 1.5em;

}

#frame {
    text-align: center;
}


/* STRUCTURE */
.wrapper {
padding: 5px;
max-width: 960px;
width: 97%;
margin: 20px auto;
}

header {
padding: 0 15px;
}

.columns {
display: flex;
flex-flow: row wrap;
justify-content: center;
margin: 5px 0;
text-align: justify;

}

.column {
flex: 1;
margin: 2px;
padding: 10px;
text-align: center;
line-height: 30px;
}

.column h2 {
text-align: center;
}

.column:first-child {
margin-left: 0;
text-align: justify;
}
.column:last-child {
margin-right: 0;
text-align: justify;
}


@media screen and (max-width: 980px) {
.columns .column {
margin-bottom: 5px;
flex-basis: 40%;
}
.columns .column:nth-last-child(2) {
margin-right: 0;
}
.columns .column:last-child {
flex-basis: 100%;
margin: 0;
}
}
@media screen and (max-width: 680px) {
.columns .column {
flex-basis: 100%;
margin: 0 0 5px 0;
}
}

