<head>
  <title>
    Galactic Passion - Dragon Fire by Odicforcesounds
  </title>
  <meta name='description' content='Galactic Passion - Dragon Fire by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, galactic, passion, dragon, fire, FCP, tribute">
  <meta name='DC.title' content='Galactic Passion - Dragon Fire by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507//bgcol=333333/linkcol=0f91ff/minimal=true/track=1807736540/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
</div>
<div id="text-box">
  <p> <a href="http://www.fcporto.pt/en/Pages/fc-porto.aspx" target="_blank">F.C.Porto</a> Tribute
    ( <a href="http://www.fcporto.pt/pt/clube/estadio-do-dragao/Pages/historia.aspx" target="_blank">Estádio do Dragão</a>
    ) and Friends...</p>
  <p>While I believe I am the Galactic Offense and the Galactic Signature!</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/only/tributes" routerLinkActive="active">here</a>
      to go back to "Only Tributes" album</span>
  </p>
</div>