<div id="table">
<table>
  <thead>
    <tr>
      <td class style="text-align:center">Pay Attention</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="textbox">
        <p>Everything that exist, needs an illusion and one intention.</p>
        <p>and may be used as a Function of 1 single End,</p> <p>or for almost everything we need
        like the wheels do.</p> <p>When we are talking about <span style="color:aqua">Social</span>
            / <span style="color:yellow">Human</span>
            / <span style="color:gold">Animals</span> /
             <span style="color:greenyellow">Nature</span> <b>Subjects</b>, </p>
             <p>Need <b>All</b> the old knowledge, as it is <b>Vital</b> to our existence</p>
             <p>since We are in a <b>Superior</b> condition, compared to all other Living Beings.</p>
             <p>That <i>State of Conscience</i>, Lead Us only to Our Self's,</p>
             <p>as Key to solve all Internal or External <b>Challenges</b> we need to do.</p>
      </td>
    </tr>
  </tbody>
</table>
</div>


