#main {
  text-align: center;
  background: url("./backgrounds/WeBringFire.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  margin-left: 0%;
}

#main {
  margin-left: 0%;
  font-size: 150%;
  text-align: center;
  display: -webkit-flex;
  /* Safari */
  display: block;
  width: max-content;
  margin-top: -2%;
}

#main div {
  text-align: center;
  padding: 1.5em;
}

#main div a{
  display: inline-flex;
}

a {
  color: yellow;
}

.t1 {
  width: max-content;
  position: relative;
  display: inline-block;
}

.t2{
  width: max-content;
  display: inline-block;
}

.t3{
  width: max-content;
  display: inline-block;
}

.t4{
  width: max-content;
  display: inline-block;
}

.t5{
  width: max-content;
  display: inline-block;
}

#table{
  flex: content;
  flex-direction: row;
  text-align: center;
  flex-direction: row;
  flex-flow: column;
  flex-wrap: nowrap;
  flex-shrink: initial;
  display: inline-block;
  margin-top: -2%;
}