<head>
  <title>Accept Our Gift - Ring of Fire (Yang) by OdicforceSounds</title>
  <meta name='description' content='Accept Our Gift - Ring of Fire (Yang) by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Accept Our Gift - Ring of Fire (Yang) by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

  <div id="frame"><br><br>
      <iframe width="50%" height="100" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FOdicforceSounds%2Faccept-our-gift-ring-of-fire-yang%2F" frameborder="0" ></iframe>
</div>
<div id="image">
    <img src="https://i00nsu.keybase.pub/odicforcesounds.com/images/ringoffire.jpg" alt="tauros" width="400px" height="400px">
  </div>