<head>
  <title>
    Trust - The Constant Loop by Odicforcesounds
  </title>
  <meta name='description' content='Trust - The Constant Loop by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, SunWukong, Hanuman, logic, science, tao, trust, constant, loop, edm">
  <meta name='DC.title' content='Trust - The Constant Loop by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>


<div id="main">
  <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3048830850/size=small/bgcol=ffffff/linkcol=0687f5/minimal=true/track=2102282019/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/emotional-signals">Emotional Signals by Odicforcesounds</a></iframe>
  <h5>Trust - The Constant Loop</h5>
  <br>
  <p>Is the Only thing we need to focus to take this life full of... Life Expressions!</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/emotional/signals" routerLinkActive="active">here</a>
      to go back to "Emotional Signals" album</span>
  </p>
</div>