#main{
  padding: 1%;
  font-size: larger;
}

#image{
  float: left;
  margin-top: 1rem;
}

#description{
  position: relative;
}

#description p{
  float: right;
  text-align: justify;
  color: lightblue;
  margin-top: -30%;
  margin-right: 5%;
  width: 60%;
  font-size: calc(1.1vw + 1vh + 0.5vmin);
}

h1{
  text-align: center;
  color: aqua;
}