#image{
  margin:2rem;
  text-align: center;
}

#description{
  position: relative;
  margin: 2rem;
}

#description p{
  text-align: justify;
  color: lightblue;
}

h1{
  text-align: center;
  color: aqua;
}

