#description{
  position: relative;
  margin-top: 5%;
  width: 80%;
}

#description p{
  text-align: justify;
  color: cornflowerblue;
  margin-left: 20%;
}

h1{
  text-align: center;
  color: aqua;
}

a{
  color: black;
}


.container {
  text-align: center;
  background: url("./backgrounds/nf.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: -1%;
  /* Set up positioning */
  position: absolute;
  left: 0;
}