a {
  color:white;
  text-decoration:none;
  text-align: center;
  align-content: center;
  align-self: center;
}

#image img{ 
  margin-top: 1rem;
  display: block;
  float: right;
  position: absolute;
}

#content details{
  position: relative;
  text-align: center;
}

#content details p{
 font-size: large;
}

#content summary{
  color: aqua;
  background-color: black;
  max-width: max-content;
}

table{
  position: relative;
  display: flex;
}
table th{
  position: absolute;
  float: left;
  margin: 2rem;
}
td details summary  {
  position: relative;
  float: left;
}