#main {
  text-align: center;
  background: url("./backgrounds/PathOfShelds.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  margin-left: 0%;
}

#main {
  margin-left: 0%;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  text-align: center;
  /* Safari */
  display: block;
  width: max-content;
}

#main div {
  text-align: center;
  padding: 1em;
}

#main div a{
  display: inline-flex;
  font-size: calc(2vw + 0.5vh + 0.2vmin);
}

a {
  color: yellow;
}

.t1 {
  width: max-content;
  position: relative;
  display: inline-block;
}

.t2{
  width: max-content;
  display: inline-block;
}

.t3{
  width: max-content;
  display: inline-block;
}

.t4{
  width: max-content;
  display: inline-block;
}

.t5{
  width: max-content;
  display: inline-block;
}

#table{
  flex: content;
  flex-direction: column;
  text-align: center;
}