a {
    text-decoration: none;
    font-size: calc(1vw + 0.5vh + 0.3vmin);
}

.navbar {
    position: relative; /* Set the navbar to fixed position */
    float: 1px;
    margin:0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: auto;
}
.navbar a {
    flex-direction: column;
    padding:2rem;
    text-align: center;
    font-size: calc(2vw + 0.5vh + 0.2vmin);
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: middle;
  }
}
.navbar .navbar-nav {
  display: flex;
  float: none;
  vertical-align: middle;
}


