<head>
  <title>
    Anomaly - Disconnected Function by Odicforcesounds
  </title>
  <meta name='description' content='Anomaly - Disconnected Function by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, anomaly, disconnected, function">
  <meta name='DC.title' content='Anomaly - Disconnected Function by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3034107978/size=small/bgcol=ffffff/linkcol=0687f5/minimal=true/track=738011788/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/space-trip">Space Trip by Odicforcesounds</a></iframe>
</div>
<div id="text-box">
  <br>
  <p>Like an anomaly</p>
  <p>like some function was disconnected in my perception</p>
  <p>in my experience, the sensation of being injected with information </p>
  <p>that take me more than 2 years to express</p>
  <p>since this text is part of the expression I am trying to express for 2 years.</p>
  <p>I feel glad my brain loop functions are connected )</p>
  <p>I think to my self, is this real?</p>
  <p>Oh yes it is, because <a routerLink="/myth/illusions/memories" routerLinkActive="active">illusions</a> are True!</p>
  <p>That is my experience, which could mean we are like organic applications </p>
  <p>and naturally, life software does</p>
  <p>We upgrade our rational system with more information</p>
  <p>which cares the actual situation of world Conscience</p>
  <p>that is in that perspective of interpretation</p>
  <p>the rest of the operating system</p>
  <p>that probably, like science do</p>
  <p>develop it as well</p>
  <p>using logic</p>
  <p>which in many cases ( as any developer knowns )</p>
  <p>the code is never perfect...</p>
  <p>but if is simple, it would be simple to read</p>
  <p>and If we can read we can manipulate it</p>
  <p>make them better</p>
  <p>People who have a lot of brain activity</p>
  <p>Need to manipulate reality</p>
  <p>Like all kind of manipulations </p>
  <p>Things get better and others worst</p>
  <p>I know that my choice is not the best</p>
  <p>But I also know that is not the worst</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/space/trip" routerLinkActive="active">here</a>
      to go back to "Space Trip" album</span>
  </p>
</div>