<head>
  <title>Critica Sem Piedade - Blogs ( PT / EN )</title>
</head>
<div id="main">
<div id="ptblogs">
<div id="ptartigos">

    <li><a [routerLink]="[ '/vai/vem' ]" routerLinkActive="active">Ou Vai Ou Vem</a></li>
    <li><a [routerLink]="[ '/falta/memoria' ]" routerLinkActive="active">Contentração</a></li>
    <li><a [routerLink]="[ '/critica/construtiva' ]" routerLinkActive="active">Critica</a></li>
    <li><a [routerLink]="[ '/falta/memoria' ]" routerLinkActive="active">Memória</a></li>
    <li><a [routerLink]="[ '/gamifica/direitos' ]" routerLinkActive="active">Gamificação</a></li>
    <li><a [routerLink]="[ '/relacoes/antrologicas' ]" routerLinkActive="active">Relações</a></li>
    <li><a [routerLink]="[ '/mimos/atomicos' ]" routerLinkActive="active">Mimos</a></li>
    <li><a [routerLink]="[ '/bug/debug' ]" routerLinkActive="active">Debug</a></li>
    <li><a [routerLink]="[ '/valor/sagrado' ]" routerLinkActive="active">Sagrado</a></li>
    <li><a [routerLink]="[ '/limpeza/mundial' ]" routerLinkActive="active">Limpeza</a></li>
    <li><a [routerLink]="[ '/tentativa/escolha' ]" routerLinkActive="active">Escolhas</a></li>
    <li><a [routerLink]="[ '/com/sem' ]" routerLinkActive="active">Razão</a></li>
    <li><a [routerLink]="[ '/caga/razao' ]" routerLinkActive="active">Cagalhão</a></li>
    <li><a [routerLink]="[ '/merito/cracia' ]" routerLinkActive="active">Merito</a></li>
    <li><a [routerLink]="[ '/subjectividade' ]" routerLinkActive="active">Subjectividade</a></li>
    <li><a [routerLink]="[ '/v/horizontal' ]" routerLinkActive="active">V</a></li>
    <li><a [routerLink]="[ '/compulsividade' ]" routerLinkActive="active">Compulsividade</a></li>
    <li><a [routerLink]="[ '/clara/evidencia' ]" routerLinkActive="active">Evidência</a></li>
    <li><a [routerLink]="[ '/cinema' ]" routerLinkActive="active">Cinema</a></li>
    <li><a [routerLink]="[ '/ofensa' ]" routerLinkActive="active">Ofensa</a></li>
    <li><a [routerLink]="[ '/janelas' ]" routerLinkActive="active">Janelas</a></li>
    <li><a [routerLink]="[ '/dualidade' ]" routerLinkActive="active">Dualidade</a></li>
    <li><a [routerLink]="[ '/drugs/machines' ]" routerLinkActive="active">I Don't use Both</a></li>
  </div>
</div>

</div>