<head>
  <title>
    Thunder - With, Within and Without by Odicforcesounds
  </title>
  <meta name='description' content='Thunder - With, Within and Without by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, thunder, with, within, without">
  <meta name='DC.title' content='Thunder - With, Within and Without by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=391601467/size=small/bgcol=ffffff/linkcol=0687f5/minimal=true/track=1774286288/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/machine-world">Machine World by Odicforcesounds</a></iframe>
</div>
<div id="text-box">

  <br>
  <p>My Expression will be all over the world! </p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/machine/world" routerLinkActive="active">here</a>
      to go back to "Machine World" album</span>
  </p>
</div>