<head>
  <title>Care Us And We Will Care You by OdicforceSounds</title>
  <meta name='description' content='Care Us And We Will Care You by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Care Us And We Will Care You by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="player">
    <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3203497115/size=small/bgcol=333333/linkcol=0f91ff/track=3543787542/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/the-unpredictable-change-2">The Unpredictable Change by Odicforcesounds</a></iframe>
  </div>
<div id="text-box">
  <p>Not only with family</p>
  <p>Not only with friends</p>
  <p>Not only with lovers</p>
  <p>Not only with everyone else</p>
  <p>Who Care us, we wish to care them</p>
  <p>do You care?</p>
  <p>Are You mad because no one care You?</p>
  <p>do You Care?</p>
  <p>Peace as a social behavior between all over the world</p>
  <p>start and continue only with care</p>
  <p>because</p>
  <p>is not about nationality, color or race</p>
  <p>is about acts and choices, which care or not</p>
  <br><br>
</div>