<head>
  <meta name='description' content='Not the Worst Music in the World by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Not the Worst Music in the World by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
  <title>Not the Worst Music in the World by OdicforceSounds</title>
</head>
<div id="player">
  <iframe width="80%" height="550" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/319197697&amp;color=%230066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>
<div id="text-box">
  <p>I hope</p>
  <p>I hope this Music is not the worst Music in the World</p>
  <p>I love many kinds of Music</p>
  <p>From Traditional to Folclor</p>
  <p>Classic ( most variantes )</p>
  <p>Rock ( most variantes )</p>
  <p>Metal ( most variantes )</p>
  <p>Electronic ( most variantes )</p>
  <p>...</p>
  <p>I really love Music... </p>
  <p>while I think everything I made is not the worst music in the world!</p>
  <p>just an oppinion is true</p>
  <p>My own opinion to what I did...</p>
  <p>Good to player some Game right? :)</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/path/of/shields" routerLinkActive="active">here</a>
      to go back to "Path of Shields" album</span>
  </p>
</div>