<head>
  <title>
    Shiva and Kali Dance by OdicforceSounds
  </title>
  <meta name='description' content='Shiva and Kali Dance by OdicforceSounds'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp">
  <meta name='target' content='all'>
  <meta name='DC.title' content='Shiva and Kali Dance by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="banner">
    <br><br>
<div id="main">
      <div id="text-box">
        <b>Shiva and Kali Dance</b> is a fully description of the full vision and a fully message of the prevision. Because humanity and harmonic life in community needs
        <a routerLink="/discipline/no/escape" routerLinkActive="active">discipline</a>, there isn’t any way to escape from it to have positive results to human balance existence. Humanity should have time to make a deep
        <a routerLink="/hard/work/deep/concentration" routerLinkActive="active">concentration</a>, because they have those
        <a routerLink="/united/colors/of/skeleton/grow/your/skills" routerLinkActive="active">skills</a> and because they had learned how important they are, from human history. It was the moment to learn about <b>Chakras</b> theories and use them, as my active chakra is represented as a burning box as
        <a routerLink="/yellow/energy/burning/box" routerLinkActive="active">yellow energy</a>. As human, I breath air, and this reality surrounded by
        <a routerLink="/air/trip/fly/to/me" routerLinkActive="active">air</a>, build with electricity, which
        <a routerLink="/conneted/to/you" routerLinkActive="active">connect</a> to all of us with magnetism, the
        <a routerLink="/drive/flow/crazy/ghost/train" routerLinkActive="active">flow</a> was to follow any
        <a routerLink="/future/cosmic/attraction" routerLinkActive="active">cosmic</a> attraction. Even accepting that all this message would have a
        <a routerLink="/delay/expectative" routerLinkActive="active">delay</a>, I need to
        <a routerLink="/care/not/focus" routerLinkActive="active">focus</a> in real solutions because gods will, was to gain harmony itself in this world wide competition full of parties and celebrations. Because that, and because my personal situation ask for simple solutions, I target
        <a href="https://www.boomfestival.org/boom2018/" target="_black">Boom Festival</a> to make a real world wide Boom, in my first
        <a routerLink="/first/contact/path/of/shields" routerLinkActive="active">contact</a>, asking a path of shields, not only to protect anyone who can be unprotected but because Gods ask for it. From the underground, more deeply from
        <a routerLink="/underwater/into/the/sky" routerLinkActive="active">underwater</a>, I should get the Sky for the love of all human race. As harmony get harmonic signals, Sky Mood Production come in my way like many other random events to find artists, but in time and accepting the first work I wish to publish, that is a tribute to freedom and life balance in a
        <a href="https://www.un.org/en/universal-declaration-human-rights/" target="_blank">Human Rights Campaign</a> format, that can make some big difference to protect human rights. Not included in this album, but included in the prevision,
        <a routerLink="/dont/take/us/seriously/we/are/having/fun" routerLinkActive="active">Don’t Take Us Seriously - We Are Having Fun</a>, is the track to ensure that
        <a routerLink="/do/not/deny/i/am/the/one" routerLinkActive="active">I am the one</a> who could make it happen, helping world wide
        <a routerLink="/call/me/karma" routerLinkActive="active">Karma</a>, to
        <a routerLink="/healing/correction/body/and/mind" routerLinkActive="active">heal</a> itself in this life experience, and giving humanity the chance to create a
        <a routerLink="/human/paradox/new/world" routerLinkActive="active">new perspective</a> of freedom and duty to all, in a simple
        <a routerLink="/my/dream/boom/festival" routerLinkActive="active">explosive</a> message with a simplified resume of Gods
        <a routerLink="/terms/of/living/love/or/die" routerLinkActive="active">will</a> <br>
        <br>
        <br>
        <div id="sell">

        <p>Full Tribute to <a href="https://www.youtube.com/watch?v=i8Os4kqEtqY" target="_blank">Ñaupa Temple
        </a> ( <a href="https://en.wikipedia.org/wiki/Peru" target="_blank">Peru</a> ) </p>
      </div>
    </div>
</div>
