<div id="table">
  <table>
    <thead>
      <tr>
        <td class style="text-align:center">Sometimes we only need to wish, deeply!</td>
        <td class style="text-align:center">Musical Expression</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <p>As You may know, even if You have all those Billions of Billions of any Coin,</p>
            <p>People and Animals still Die by the result of internal Wills,</p>
            <p>or should I talk about Nature it self, that is full of Plastic,</p>
            <p>the Sea is full of Bomb testing Radiation and many Billions of "craps",</p>
            <p>Human History produced by the name of Progress!!!</p>
            <p>Now we have technology, to help Us to simplify many other things that this day's are Real!!!</p>
        </td>
        <td>
            <a routerLink="/possession/of/will" routerLinkActive="active">
            <p class style="text-align:center"> The Possession of Will</p>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

