
#banner {
  background: url("https://raw.githubusercontent.com/odicforcesounds/Myth-illusions-Memories/master/TopMenu/Who.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: 0;

  /* Set up positioning */
  position: absolute;
  left: 0;
  }

  #main {
width: 100%;
min-width: 25%;
text-align: center;
word-spacing: 1em;
line-height: 20px;

}

p {
    margin-top: 2%;
    font-size: 3.5em;
    font-size: 5vw;
}

