<head>
    <title>
        Brave New Choice - No Heroes by Odicforcesounds
    </title>
    <meta name='description' content=' Brave New Choice - No Heroes by Odicforcesounds'>
    <meta name='target' content='all'>
    <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, brave, new, choice, hereos">
    <meta name='DC.title' content=' Brave New Choice - No Heroes by Odicforcesounds'>
    <meta http-equiv='Expires' content='0'>
    <meta name="robots" content="index" />
</head>

<div id="main">
    <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3034107978/size=small/bgcol=333333/linkcol=0f91ff/minimal=true/track=3208777115/transparent=true/"
        seamless><a href="http://odicforcesounds.bandcamp.com/album/space-trip">Space Trip by Odicforcesounds</a></iframe>
</div>
<div id="text-box">
    <br><br>
    <p><span style="background-color:black">
            Click <a routerLink="/space/trip" routerLinkActive="active">here</a>
            to go back to "Space Trip" album</span>
    </p>r><br><br><br>
    <br>
</div>