#description{
  position: relative;
  width: 90%;
}

#description p{
  color: lightblue;
  text-align: justify;
  margin-left: 20%;
  margin-top: 5%;

}

h1{
  text-align: center;
  color: aqua;
}

.container {
  text-align: center;
  background: url("./backgrounds/WeCameInPeace5.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: -1%;
  /* Set up positioning */
  position: absolute;
  left: 0;
}