#description{
  position: relative;
  margin-left: 10%;
  width: 80%;
}

#description p{
  color: lightblue;
  text-align: justify;
  text-align: justify;
  font-size: calc(2vw + 0.5vh + 0.2vmin);

}

a{
  color: orange;
}

h1{
  text-align: center;
  color: aqua;
}

.container {
  text-align: center;
  background: url("./backgrounds/WeCameInPeace5.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: -1%;
  /* Set up positioning */
  position: absolute;
  left: 0;
}