html {
  margin:0;
  padding:0;
  background-color:#333;
}

#main {
  text-align: center;
  background: url("./backgrounds/Tao.jpg") no-repeat no-repeat fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -1%;
}

#main h3{
  font-size: xx-large;
  color: aliceblue;
}

