p {
  font-size: calc(1.5vw + 1.5vh + 0.3vmin);
  line-height: 1em;
}

#main {
  text-align: center;
  font-size: calc(1.5vw + 1.5vh + 0.3vmin);
  line-height: 1em;
}
#text-box {
  width: 100%;
  min-width: 25%;
  text-align: center;
  font-size: calc(1.5vw + 1.5vh + 0.3vmin);
  line-height: 1em;
}
#banner {
    background: url("https://raw.githubusercontent.com/odicforcesounds/Myth-illusions-Memories/master/License/License.jpg") no-repeat center center fixed;
    background-size: cover;

    min-width: 100%;
    min-height: 100%;
    /* Set up positioning */
    position: absolute;
    left: 0;
}

#player {
  text-align: center;
}
