<head>
  <title>
    OdicforceSounds Visions and Quest
  </title>
  <meta name='description' content=' OdicforceSounds Visions and Realtime Quest'>
  <meta name='target' content='all'>
  <meta name='DC.title' content=' OdicforceSounds Visions and Realtime Quest'>
  <meta http-equiv='Expires' content='0'>
</head>
<div id="banner">
  <div id="main">
    <h2>Unique Touch - Concept Proof - Life and Love</h2>
    <p><a routerLink="/the/fun/project/is/fun/to/take/care" routerLinkActive="active">The Game Project - Is Fun To Take Care</a></p>
    <p>aka</p>
    <p><a routerLink="/tool/kit" routerLinkActive="active">Social Tool Kit - World Wide Conscious Cleaner</a></p>
    <h3>~ Respect God Will ~</h3>
    <p><span style="color:orange">Humanity is living into a ‪Dark realm</span> - <a routerLink="/black/birds/red/eyes" routerLinkActive="active"><span style="color:red;background-color:black">Black Birds - Red Eyes</span></a></p>
    <p>‎<a routerLink="/little/box/universe" routerLinkActive="active">This Universe‬ is a little box</a></p>
    <p>Today I am here to tell You, <a routerLink="/we/must/change/our/ways" routerLinkActive="active">We Must Change our Ways</a>.</p>
    <p>If you ignore it, <span style="color:red">Odin</span> will come to ‎Clean‬ <span style="color:greenyellow">‎World‬ ‪‎Wide‬ ‎Conscious</span>‬</p>
      <p>showing no <span style="color:darkgoldenrod">‪‎Mercy</span>‬ with no <span style="color:lightskyblue">Game</span>, or nor <span style="color:aqua">Fun</span>!</p>
    <p>‎<i>Spread for Love and I will show you good ‪‎Music</i> - <b>Shiva</b></p>
    <p>I can only have time to think because it is in the <span style="color:red">blood</span>.</p>
    <br>
    <app-magic-touch-in-the-shadows></app-magic-touch-in-the-shadows>
  </div>
</div>
