<head>
  <title>It is All About Us by OdicforceSounds</title>
  <meta name='description' content='It is All About Us by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='It is All About Us by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="player">
  <iframe width="80%" height="550" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/315588553&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>
<div id="text-box">
  <p>2017 right now, and many things in this world are changing</p>
  <p>am I doing something wrong?</p>
  <p>I dont care! :) Because</p>
  <p>I can do what Ever I want</p>
  <p>...</p>
  <p>But I care You</p>
  <p>So Care Me too</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/magic/fire" routerLinkActive="active">here</a>
      to go back to "The Magic of Fantasy" album</span>
  </p>
</div>