#banner {
    background: url("https://raw.githubusercontent.com/odicforcesounds/Myth-illusions-Memories/master/MagicOfFantasy/YouAreTheWoodIamTheFire.jpg") no-repeat center center fixed;
    background-size: 100% 126%;
    /* Set up proportionate scaling */
    min-width: 100%;
    min-height: 100%;
    margin-top: 0;

    /* Set up positioning */
    position: absolute;
  }

  #player {
      text-align: center;
  }

  #text-box {
      text-align: center;
      color: orangered;
      font-size: 2em;
  }
