<div id="main">
<h3>Ego Master vs Master Ego</h3>
<h6>( The coincidence of incidence )</h6>
<br>
<p>- I just Like to Talk to My Self while writing. </p>
<p>- Is like playing chess with my self, I always loose, then I learn! </p>
<p>#</p>
<p>- What We Express, We Create. Is This Magic? </p>
<p>- No, it is only Energy!</p>
<p>#</p>
<p>- What is Energy?</p>
<p>- Life!</p>
<p>#</p>
<p>- What is Life?</p>
<p>- Energy, flowing in Time!</p>
<p>#</p>
<p>- What is the difference between both?</p>
<p>- There is none, only perspectives.</p>
<p>#</p>
<p>- Why I make Questions?</p>
<p>- Because You Wish to Learn!</p>
<p>#</p>
<p>- A question is energy?</p>
<p>- Yes, You take energy to think why not!</p>
<p>#</p>
<p>- Life is made of questions?</p>
<p>- Only if You wish to Learn.</p>
<p>#</p>
<p>- Is Life a Question?</p>
<p>- Good Question! ( What do You Think? )</p>
<p>#</p>
<p>- I have no more Questions!</p>
<p>- Why?</p>
<p>- I need to Think!</p>
<p>#</p>
<p>- Where I can learn best?</p>
<p>- From what You make wrong!</p>
<p>#</p>
<p>- I shouldn't Question anything at all.</p>
<p>- That will lead You to Learn fast!</p>
<p>#</p>
<p>- What I learn is True?</p>
<p>- Truth is, there is no truth, only perspectives.</p>
<p>#</p>
<p>- Why we can't have the same truth?</p>
<p>- Because we have different brains.</p>
<p>#</p>
<p>- The brain is true?</p>
<p>- Maybe, just an illusion of our self's.</p>
<p>#</p>
<p>- Illusions are true?</p>
<p>- Yes.</p>
<p>#</p>
<p>- Are we in a Illusion World?</p>
<p>- Yes, as we all dream with them!</p>
<p>#</p>
<p>- Why I dream?</p>
<p>- Because You need to sleep!</p>
<p>#</p>
<p>- Dreams are true or illusion?</p>
<p>- Illusions of Truth, create dreams.</p>
<p>#</p>
<p>- For what is Choice?</p>
<p>- To use Your Will.</p>
<p>#</p>
<p>- I have no other choice?</p>
<p>- Yes, Die.</p>
<p>#</p>
<p>- I don't want to die.</p>
<p>- That is not Our Choice!</p>
<p>#</p>
<p>- Who make that decision?</p>
<p>- Causality.</p>
<p>#</p>
<p>- Causality is God?</p>
<p>- Maybe.</p>
<p>#</p>
<p>- Did he dream about us?</p>
<p>- Maybe.</p>
<p>#</p>
<p>- I have the illusion to know God.</p>
<p>- Then You Will know God!</p>
<p>#</p>
<p>- Do You know God?</p>
<p>- Sometimes God know me.</p>
<p>#</p>
<p>- What do You mean?</p>
<p>- :)</p>
<br>
</div>