<div class="text-box">
  <div>

  </div>
</div>

<section class="columns">

  <div class="column">
      <h2>Introduction</h2>
      <p>Welcome to Our <a routerLink="/crafting/new/generations" routerLinkActive="active">Next Generations</a> World Wide Challenge!</p>
      <p>Education is inetivable, so lets give a chance to learn about it!</p>
  </div>

  <div class="column">
      <h2>Rules</h2>
      <h3>Civic Actions are a Duty!</h3>
      <p>What doesn't have a price this day's?</p>
      <p></p>
  </div>
</section>