<section class="columns">

	<div class="column">
		<h2>Intro</h2>
        <p>
            From dogs to cats, birds, butterflies, reptiles and fish's..
            All shall have at least if is possible a good life style.
            Like we do! Share how much You care!
            Note: Since this is a Brands Competition,
            Companies can do much better then each employee help one single animal
            that can be from him/her own. There is a lot of situations in city or out
            that need several people help. Companies have the duty to maintain this spaces
            where this animals have a better life. Each situation shall start a video vigilance where
            people can comment about the situation. Naturaly because is a sensitive subject, companies shall do the best is possible
            always explianing it's choice. Even doing bad choices is good, to learn how to make better ones.
        </p>
    </div>

	<div class="column">
		<h2>Vital Help</h2>
        <p>Sometimes we found animals in the street.
            Normaly people don't care, and those who care try to find a way to help them.
            The process of finding a way to give a solution is not always faster and not always
            possible as it cost money to use health care tools and time. This process cost a lot
            of money to this persons, but they would try to do something without money, as more they could.
            So, since there is so much in cost, poeple who pay attention in this topics shall be rewarded.
            People can make a big report of the situation and how they solved.
            Is not by the will to find mistakes in each one try to solve a problem,
            but to find that people really tried, then they have the merit of earing the retribution.
            Social media network are very important on this subjects.
        </p>
    </div>


</section>

<section class="columns">
    <div class="column">
        <h2>List of public Helpers</h2>
        <p>This should list each Brand / Community,
            grupo or individual who accept to help those who help.
            Good way to produce publicity focus on a Cause. Nothing new, but we
            need a list categorized from contries. If I go to Spain I may need to find
            a way to help a dog in the streets. The normal and legal process to solve this problems is "Evil"
            so is better to find another way! Killing an animal just because doesn't have owner, is like
            killing people because they don't have father or mother.
            It doesn't make any sense!!! Be Sure You understand the License!
        </p>
    </div>

    <div class="column">
        <h2>List of private Helpers</h2>
        <p>
            Let me believe private business representants care as well about what they do.
            We can add a feature to declare companies public or private who care or not about what they represent.
            Brands represent the brand it self, the duty of the brand and the causes that their product need to pay attention to,
            so they can change because there is always alternatives to be better. Naturally each company that is added to this list
            have already free promotion by it's own public registration!
        </p>
    </div>


</section>
