<div id="table">
    <table>
        <thead>
            <td>World Cleaner (Logic)</td>
        </thead>
        <tbody>
            <td>
                <p><b>Privacy</b> is critical in this challenge</p>
            </td>
            <tr>
                <td>
                    <p>Patterns need to be 80% Boolean 19% Static and 1% Dynamic</p>
                    <p><b>Boolean:</b> Everything is accepted(1) or denied(0)</p>
                    <p><b>Static:</b> Per step, per action, per function, if is True = +1 if not +0</p>
                    <p><b>Dynamic:</b> Only the value of 1 will be add in the end of each actions to the user profile path and profile categories</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>We only need an email (that needs to exist)</p>
                    <p>to accomplish registration process or to recover passwd</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Final Devices</b> Android, iOS, Windows, Oculus, etc... </p>
                    <p>that kind of glasses people use to "Virtual" reality..</p>
                    <p>but virtual is good to share information not to create what we already have.. </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>User Device services</b>: Time, GPS, Internet, Video, Audio(Webcam)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>User Notification System: only when using application: we do not send email notifications</p>
                    <p>User Comment System to describe actions: to make easier to the reviewer to rate</p>
                    <p>Challenge Rating System: only +1 to per personal characteristic, if not +0 </p>
                    <p>"The more actions Brands have, the more higher from the others they are"</p>
                    <p>"The more projection have, the more gratitude, the more healthier business"</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Login System: based on Chinese Zodiac.</p>
                    <p>Images are static</p>
                    <p>information about each Sign ( sync external source )</p>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Points System</p>
                    <p>Each Point is One Coin.</p>
                    <p>"add link to more descriptive... "</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>User Profile: private </p>
                    <p>No name</p>
                    <p>3 boxes</p>
                    <p>per box, per path</p>
                    <p>if they are white you are Yang</p>
                    <p>255 actions per life is enougth</p>
                    <p>internal characteristics status ( points / coins )</p>
                    <p>complete Yin Yang Challenge</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Actions View: Public Video - Private Source</p>
                    <p>User can only approve[1] or deny[0] when finish to see the video</p>
                    <p>Video comments with descrition should be shared before the video</p>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Action System: if actionView +1 OR +0</p>
                    <p>if PlayerCharacteristicsRate +1 OR Null if Null +0</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Actions System: Each Action / video need to be approved X times</p>
                    <p>if service have at least 20 users world wide, each video is reviewed by 10</p>
                    <p>where approve(+1) is equal to at least 6 positive reviews.</p>
                    <p>or deny(+0) is equal to at least 6 negative reviews.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>User Permissions:</p>
                    <p>Users Information should not be visible ( while in challenge )</p>
                    <p>Videos should only expose GPS / TIME / Path Category of each Video</p>
                    <p>Users cannot chat with others or see their profile ( while in challenge )</p>
                    <p>If user finish challenge > Redirect to Public Social Community</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Community:</p>
                    <p>Users who had finish Yin Yang challenge</p>
                    <p>share Public if you wish, chat with others who had finish too</p>
                    <p>Start making business</p>
                    <p>upgrade your company or your brand to a merit time exposition</p>
                    <p>be symbol of human conscience balance</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Registration System: </p>
                    <p>If solo ( singular user )</p>
                    <p>if brand ( business group ) - list of email@domain checksum sync</p>
                    <p>if charity ( voluntare group ) - list of email@domain checksum sync</p>
                    <p>if not domain ( logo with all members email list ) to evaluate at registration time</p>
                    <p>if business (need to pay fee) per employee </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Points are given to company by singular user</p>
                    <p>If user leave company: none of both loose points</p>
                    <p>if company user wish to change email: is possible</p>
                    <p>if not, why should ? ( it is not chat service only login...</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Data Store: Action Approved list </p>
                    <p>if user action +1 ( GPS / Time / PathName add to text box )</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
