#description{
  position: relative;
  margin-top: 5%;
  margin-left: 20%;
  width: 60%;
}

#description p{
  text-align: justify;
  color: lightblue;
}


.container {
  text-align: center;
  background: url("./backgrounds/OnlyTributes.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: -1%;
  /* Set up positioning */
  position: absolute;
  left: 0;
}