<head>
  <title>
    Black Birds - Red Eyes by Odicforcesounds
  </title>
  <meta name='description' content='Black Birds - Red Eyes by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, black, birds, red, eyes">
  <meta name='DC.title' content='Black Birds - Red Eyes by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="banner">
  <br> <br>
  <div id="main">
    <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1808670041/size=small/bgcol=333333/linkcol=0f91ff/minimal=true/track=3288121727/transparent=true/"
      seamless><a href="http://odicforcesounds.bandcamp.com/album/visions-of-thor-m-s-n">Visions of Thor - Mỹ Sơn by
        Odicforcesounds</a></iframe>

  </div>
  <div id="text-box">
    <h5>My Codename: <span style="background-color:black;color:rgb(255, 47, 47)">Black Birds - Red Eyes</span></h5>
    <p><span style="background-color:black;color:greenyellow">Yin Yang is the Sun</span></p>
    <p><span style="background-color:black;color:#ffee00">Yin Yang is Life and Death</span></p>
    <p><span style="background-color:black;color:#ffee00">is movement, Light, Colors, Dreams, Beliefs</span> </p>
    <p><span style="background-color:black;color:#ffee00">Hope, Challenge, Change, Signals, Divine</span></p>
    <p><span style="background-color:black;color:#ffee00">Balance, Future, Time</span></p><br>
    <p><span style="background-color:black;color:#ff6600">Yin Yang fall into the Vibrational Zone (Ours)</span> </p>
    <p><span style="background-color:black;color:#ffee00">
        Odin <a routerLink="/light/interception/sensitive/and/obscure" routerLinkActive="active">intercept</a> that
        movement demanding Thor to send Light!
      </span></p>
    <p><span style="background-color:black;color:#00ff9d">While YinYang was fallowing</span> </p>
    <p><span style="background-color:black;color:#00ff9d">two different perspectives open in Space and Shiva wake up</span>
    </p>
    <p><span style="background-color:black;color:#00ff9d">To honor Shiva "<a routerLink="/emotional/signals"
          routerLinkActive="active">Emotional Signals</a>", </span></p>
    <p> <span style="background-color:black;color:#00ff9d"><a routerLink="/sun/wukong/the/monkey/king" routerLinkActive="active">Hanuman</a>
        was chosen to accomplish the mission and honor Yin Yang</span></p>
    <p><span style="background-color:black;color:greenyellow">"Shiva and Kali Dance: <a routerLink="/terms/of/living/love/or/die"
          routerLinkActive="active">Terms of Living - Love or Die</a>"</span></p>
    <p><span style="background-color:black;color:greenyellow"> Time and Space Dance together.</span></p>
    <br><br>
    <p><span style="background-color:black">
        Click <a routerLink="/visions/of/thor" routerLinkActive="active">here</a>
        to go back to "Visions of Thor" album</span>
    </p>
  </div>
</div>