<head>
  <meta name='description' content='Dark warrior by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Dark warrior by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
  <title>Dark warrior by OdicforceSounds</title>
</head>
<div id="player">
  <iframe width="80%" height="550" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/313349257&amp;color=%230066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>
<div id="text-box">
  <p>Sun Wukong: " The Human Expression of Hanuman " </p>
  <p>Jesus Christ: " The Human Expression of God "</p>
  <p>///</p>
  <p>If You had read me, You know Gods in Paganism</p>
  <p>Care to accept that other Gods expression, are by the Will of the Suprime God</p>
  <p>Naturally, because We are living a spiritual Life (in reality)</p>
  <p>We are God Expression in form of other Name</p>
  <p>Names are given to express Choices ( Attitudes )</p>
  <p>Odin have an expression of a supreme God who Love Animals and Nature</p>
  <p>His Son, Thor, have another expression ( making different choices )</p>
  <p>The supreme God cannot express him self as an Image</p>
  <p>But he Can express him self by choices!</p>
  <p>...</p>
  <p>Warriors... </p>
  <p>Dark Warriors produce Light</p>
  <p>and</p>
  <p>Light Warriors produce Darkness</p>
  <p>...</p>
  <p>More than Logic can be proven with science</p>
  <p>Put everything of Fire ( Light )</p>
  <p>Throw water on it ( Dark )</p>
  <p>...</p>
  <p>It works is the same perspective to almost everything we know</p>
  <p>Another example:</p>
  <p>You educate a child like billions of mothers and fathers do</p>
  <p>While having a instable relation</p>
  <p>That create instability to this child</p>
  <p>Can Create darkness in his/her personality/soul</p>
  <p>And is Logic.. he/she "see" it..</p>
  <p>( already use what we call: common sense )</p>
  <p>Made of Pure Resonance!</p>
  <p>While the repetition of that information in life experience</p>
  <p>Can lead her/him to be like that, sooner or latter!</p>
  <p>Since if it was the reverse example</p>
  <p>A child who had a perfect life</p>
  <p>It would do the same</p>
  <p>because it was his positive condition of life experience</p>
  <p>but Too much positivity is Crazy and Madness!</p>
  <p>(it will be fine, dont worry) - sounds Super Evil</p>
  <p>... I like positive results</p>
  <p>but I dont expect them all the time</p>
  <p>Because reality prove to be itself, instable</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/path/of/shields" routerLinkActive="active">here</a>
      to go back to "Path of Shields" album</span>
  </p>
</div>