<head>
  <meta name='description' content='Union Point - Synchronized by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Union Point - Synchronized by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
  <title>Union Point - Synchronized by OdicforceSounds</title>
</head>
<div id="player">
  <iframe width="80%" height="550" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/316010809&amp;color=%230066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>

<div id="text-box">
  <p>I feel I am Synchronized!</p>
  <p>I am with many things that Humanity Should Care!</p>
  <p>Humanity should care about what illusion they care</p>
  <p>Illusions are like dreams... sometimes</p>
  <p>If you know You are dreaming</p>
  <p>If You are conscient of being dreaming</p>
  <p>Because illusions are fragments of many dreams...</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/path/of/shields" routerLinkActive="active">here</a>
      to go back to "Path of Shields" album</span>
  </p>
</div>