<head>
  <title>
    Devil Spell - Me and You by Odicforcesounds
  </title>
  <meta name='description' content='Devil Spell - Me and You by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, devil, spell, tribute, diamanda galas">
  <meta name='DC.title' content='Devil Spell - Me and You by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">

  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3688569507//bgcol=333333/linkcol=0f91ff/minimal=true/track=1794267369/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/only-tributes">Only Tributes by Odicforcesounds</a></iframe>
  <br>

  <br>
  <p><a href="http://diamandagalas.com" target="_blank">Diamanda Galás</a> Tribute!</p>
  <p>Here is the Unique Expression of the Monkey in Dark</p>
  <p>This World is made as an expression of will, to produce it's own consequence.</p>
  <p>The Dark Wish to Possess, Power, which is the result of consequences expressed by Will.</p>
  <p>Simplifing the concept, knowledge!</p>
  <p>There is a saying about knowledge and Power... </p>
  <p>Knowledge is Power, while Power don't always need Knowledge!</p>
  <p>We are Here to Balance Life Experience where emotions are expressed by the will of Power!</p>
  <p>The Will of Power comes from the Will of Change</p>
  <p>Then Change comes with Love!</p>
  <p>It should be Logic that Love is Power!</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/only/tributes" routerLinkActive="active">here</a>
      to go back to "Only Tributes" album</span>
  </p>
</div>