<head>
  <title>
    We Are the Ones by Odicforcesounds
  </title>
  <meta name='description' content='We Are the Ones by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, thor, we are the ones">
  <meta name='DC.title' content='We Are the Ones by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1808670041/size=small/bgcol=333333/linkcol=0f91ff/minimal=true/track=2160061054/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/visions-of-thor-m-s-n">Visions of Thor - Mỹ Sơn by
      Odicforcesounds</a></iframe>
</div>
<div id="text-box"> <br>
  <p>Yes, WE Wish to include Our Self's With all of You!!!</p>
  <p>Odin, Thor, Shiva and many more by their Will, not by their Name!</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/visions/of/thor" routerLinkActive="active">here</a>
      to go back to "Visions of Thor" album</span>
  </p>
</div>