<div id="table">
    <table>
    <thead>
      <tr>
        <td>*</td>
        <td>Name</td>
        <td>Description</td>
        <td>Notes</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <p>1</p>
        </td>
        <td>
            <p><span style="background-color:rgb(5, 138, 255); color:rgb(81, 255, 0)">
                Nature Care Path</span></p>
        </td>
        <td>
            <p>You Shall Care the Place You Live.</p>
            <p>You Shall Care Your own Life, indeed!</p>
            <p>How Much You Dare to don't Care? </p>
            <p>You Will not Regret, if You are Rare!</p>
        </td>
        <td><a routerLink="/nature/care/path" routerLinkActive="active">Read Me</a></td>
    </tr>
    <tr>
        <td>
            <p>2</p>
        </td>
        <td>
            <p><span style="background-color:rgb(32, 129, 19); color:rgb(0, 204, 255)">
                Animal Care Path</span></p>
        </td>
        <td>
            <p>We Are so they Are! We Can so they Can.</p>
            <p>We Live so they Live.</p>
            <p>The Rush of Dust is not only to receive pleasure</p>
            <p>if is not Lost in Time!</p>
        </td>
        <td><a routerLink="/animal/care/path" routerLinkActive="active">Read Me</a></td>
    </tr>
    <tr>
        <td>
            <p>3</p>
        </td>
        <td>
            <p><span style="background-color:rgb(255, 251, 5); color:rgb(17, 0, 255)">
                Human Care Path</span></p>
        </td>
        <td>
            <p>My Friends Come and Go, so we can Change.</p>
            <p>My Time with Your Time, result in Your Time for My Time.</p>
            <p>Only to accomplish moments of Time!</p>
        </td>
        <td><a routerLink="/human/care/path" routerLinkActive="active">Read Me</a></td>
    </tr>
    <tr>
        <td>
            <p>**</p>
        </td>
        <td>
            <p><span style="background-color:rgb(68, 0, 255); color:rgb(217, 255, 0)">
                Business Challenge</span></p>
        </td>
        <td>
            <p>Political, Social and Spiritual / Personal Civic Actions </p>
            <p>By Those who Own, Power of Decision!</p>
        </td>
        <td><a routerLink="/business/care/path" routerLinkActive="active">Read Me</a></td>
    </tr>
    <tr>
        <td>
            <p>4</p>
        </td>
        <td>
            <p>Proprieties Owners</p>
        </td>
        <td>
            <p>If we own proprieties and we are not using them,</p>
            <p>As life in this propriety give more value to it,</p>
            <p>Owner share for free the space to those who cannot have one.</p>
            <p>Propriety Owners gain More Social and Political Projection</p>
        </td>
        <td>
          <a routerLink="/business/care/path/proprieties" routerLinkActive="active">Read Me</a></td>
    </tr>

    <tr>
        <td>
            <p>5</p>
        </td>
        <td>
            <p>Food Business</p>
        </td>
        <td>
            <p>Restaurants and SuperMarkets Shall Give and Share!</p>
            <p>There is a lot of food that is wasted.</p>
            <p>Even the homeless are possible clients.</p>
            <p>Care the clients! </p>
        </td>
        <td><!-- <a routerLink="/business/care/path/food" routerLinkActive="active">Read Me</a></td>-->
    </tr>
    <tr>
        <td>
            <p>***</p>
        </td>
        <td>
            <p><span style="background-color:rgb(0, 0, 0); color:rgb(0, 255, 234)">Topic</span></p>
        </td>
        <td>
            <p><span style="background-color:rgb(0, 0, 0); color:rgb(0, 255, 234)">Out of Topic</span></p>
        </td>
        <td><p>-</p></td>
    </tr>
    <tr>
        <td>
            <p>6</p>
        </td>
        <td>
            <p>Activist Communities</p>
        </td>
        <td>
            <p>Nothing new, they already help others the best they can</p>
            <p>By yelling for others rights, they will fight forever!</p>
            <p>When possible, if possible, lonely houses "without" owner</p>
            <p>Shall be open to those who have no home!</p>
            <p>Governments Should improve the Inside Duty!!</p>
        </td>
        <td><!-- <a routerLink="/activism" routerLinkActive="active">Read Me</a></td>-->
    </tr>
    <tr>
        <td>
            <p>7</p>
        </td>
        <td>
            <p>Woofing Communities</p>
        </td>
        <td>
            <p>The world is not only in the city</p>
            <p>As the countryside is where Nature is.</p>
            <p>For many interpretation, "slave work" and for others, Freedom!</p>
            <p>No need to worry about money is a rare opportunity!</p>
            <p>While having Food and a place to sleep and "work" as well.</p>
        </td>
        <td><!-- <a routerLink="/woofing" routerLinkActive="active">Read Me</a></td>-->
    </tr>
  </table>

</div>
