
.container {
  text-align: center;
  background: url("./backgrounds/MonkeyTouch.jpg") no-repeat no-repeat fixed;
  background-size: cover;
  height: 100%;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: -1%;
  /* Set up positioning */
  position: relative;
  left: 0;
}

#love{
  color: white;
  background-color: black;
  text-align: center;  
  width: max-content;
  margin-left: 45%;
}

#love a{
  color: red;
  background-color: black;
}

#license{
  color: white;
  background-color: black;
  width: max-content;
  position: relative;
}

#license a{
  color: orange;
  background-color: black;
}

#visions{
  color: whitesmoke;
  background-color: black;
  width: max-content;
}

#visions a{
  color: black;
  background-color: orange;
}

#signature{
  background-color: black;
  color: white;
  position: relative;
}

#signature a{
  background-color: black;
  color: orange;
}

#msg{
  margin-top: 3rem;
  text-align: center;
}

#p1{
  background-color: aqua;
  color:brown;
  display: inline;
  font-size: calc(2vw + 0.5vh + 0.2vmin);
 }

#p2{
  background-color: gray;
  color:aqua;
  display: inline;
  font-size: calc(2vw + 0.5vh + 0.2vmin);
}

#p3{
  background-color: orangered;
  color: yellow;
  display: inline;
  font-size: calc(2vw + 0.5vh + 0.2vmin);
}

#p4{
  background-color: black;
  color:white;
  display: inline;
  font-size: calc(2vw + 0.5vh + 0.2vmin);
}

#slogan{
  text-align: center;
}

#mplayer{
  text-align: center;
  margin-top: 2rem;
}

#main{
  margin-top: 3%;
  margin-left: 30%;
}

#main p{
  text-align: center;
}

#v{
  text-align: center;
  
}

#who{
  background-color: black;
  color: white;
  float: right;
  margin-top: -5rem;
  margin-right: 4rem;
}

#who a{
  color: orange;
}
