<section class="columns">

        <div class="column">
            <h2>Planet Earth</h2>
            <p>
                Where to start?
                As You may already know, this challenge target all brands of the world.
                Where ever You are, You shall care to join us :)! Maybe You should care to
                remove all toxic or radioactive products You use, would be a good start.
            </p>
            <p></p>
            <p>
            </p>
        </div>

        <div class="column">
            <h2>Plastic / Recycling</h2>
            <p>
                A company can do a lot of creative and logic work within to benefit Nature!
                Nature is full of plastic, You only need to choose where you want to start picking up.
                Objects can be from several natures or materials, but most can be used.
                Recycling in a brand work is the (ECO) symbol we want to see in all of them.
            </p>
        </div>


    </section>

    <section class="columns">
        <div class="column">
            <h2>Inside Recycling</h2>
            <p>
                Companies shall use products in their daily that offer the same quality of not creating polution problems.
                Documents that are concept proof of what materials each company use that is not nature destructive, shall be exposed
                by hiding the sensitive data of Personal codes information only. It is an extra path inside the same path.
                Industry shall care to find alternatives to be promoted and their products as well.
            </p>
        </div>

        <div class="column">
            <h2>Rivers and Seas</h2>
            <p>
                I remember to go with friends cleaning same rivers close to Porto.
                I think some of them still do it every year. Well, there is a lot of work to do in many rivers of this world.
                The education process of caring must start with information but shall continue to action. Most everything we learn in school
                is not useful to use as a tool to care. May we understand the simplicity of what is asked.
            </p>
        </div>
    </section>
