<div class="table">
    <table>
      <tbody>
        <tr>
          <td>
            <h3>Individuals</h3>
            <p>Well done, You can continue even if You only see Light (in Your Status Path's)</p>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Brands / Business</h3>
            <p>Odic Points serve two Services into this Challenge for Business!</p>
            <p>First: View Brands Public List Ranking Points. (Here we see Who Share More Time in benefit of Others)</p>
            <p>Second: Personal ( Internal Employee's Raking from Client to the Personal / Social Service ) </p>
            <p>Administrative Services Shall be the Example!</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>