<head>
  <title>
    Ma6nata - EVIL INSIDE by Odicforcesounds
  </title>
  <meta name='description' content='Ma6nata - EVIL INSIDE by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, magnata, evil, inside">
  <meta name='DC.title' content='Ma6nata - EVIL INSIDE by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1808670041/size=small/bgcol=333333/linkcol=0f91ff/minimal=true/track=2187247075/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/visions-of-thor-m-s-n">Visions of Thor - Mỹ Sơn by
      Odicforcesounds</a></iframe>
</div>
<div id="text-box">
  <p>We are All here fighting against our own limits!</p>
  <p><a routerLink="/dark/warrior" routerLinkActive="active">Dark Warriors</a> produce Light and Light Warriors produce
    Darkness!</p>
  <p>It is inevitable!</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/visions/of/thor" routerLinkActive="active">here</a>
      to go back to "Visions of Thor" album</span>
  </p>
</div>