<section class="columns">

        <div class="column">
            <h2>Attention</h2>
            <p>
                You are about to find someone who need help. Probably food, water, cloths, a ticket, were to sleep.
                Before we make this action we shall care about our rights and duties that should be the same for others.
            </p>
            <p></p>
            <p>
            </p>
        </div>

        <div class="column">
            <h2>How to</h2>
            <p>
            First we talk with the people need help. Then we ask them if we can register the action, with or without showing their faces
            </p>
        </div>


    </section>

    <section class="columns">
        <div class="column">
            <h2>Privacy</h2>
            <p>
                    While every single approved action belongs to a videostream of the user that possess value of information that cause the violation of Privacy,
                    but because we care about this subject, all recorded videos that belong to this specific path, will be deleted.
                    Maybe we should add an option where the user need to show the other person giving his/her gratitude of being recorded for that action where he/she will gain benefit of exposing him/her self.

            </p>
        </div>

        <div class="column">
            <h2>ideas</h2>


        </div>
    </section>
