.container {
    width: 100%;
    min-width: 25%;
    align-content: center;
    text-align: center;

}

.title {
    font-size: calc(1.5vw + 1.5vh + 0.5vmin);
    margin-top: 2.5em;
}

.player {
    margin-top: 2.5em;
}

.desc {
    font-size: calc(1vw + 1vh + 0.3vmin);
    margin-top: 2.5em;
}