html {
  margin:0;
  padding:0;
  background-color: #333;
}


a {
  display: inline;
  color:white;
  text-decoration:none;
  font-size:calc(1vw + 0.5vh + 0.2vmin);
  margin:5px;
  text-align: center;
  align-content: center;
  align-self: center;
}

p {
  font-size:28px;
  color:black;
}

h1{
  font-size:36px;
  background-color:black;
  color:white;
}

#main {
  text-align: center;
  background: url("./backgrounds/License.jpg") no-repeat no-repeat fixed;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -3%;
}

#main a{
  color:rgb(70, 43, 223);
  font-size:26px
}

