<head>
  <title>
    Pain vs Love by Odicforcesounds
  </title>
  <meta name='description' content='Pain vs Love by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, pain, love">
  <meta name='DC.title' content='Pain vs Love by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1808670041/size=small/bgcol=333333/linkcol=0f91ff/minimal=true/track=301499115/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/visions-of-thor-m-s-n">Visions of Thor - Mỹ Sơn by
      Odicforcesounds</a></iframe>
</div>
<div id="text-box">
  <p>Where Pain is Yin, Love is Yang </p>
  <p>"<a routerLink="/dance/of/love" routerLinkActive="active">The Eternal Dance of Love</a>" </p>
  <p> Not only to the self</p>
  <p> but to all of You!</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/visions/of/thor" routerLinkActive="active">here</a>
      to go back to "Visions of Thor" album</span>
  </p>
</div>