body {
    background-color: darkgray;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    position:sticky;
    background-color:lightblue;
    padding:1%;
    align-content: center;
    text-align:center;
}

li {
    float:left;
    background-color:black;
    margin-right:2px;
    align-content: center;
    text-align:center;
    margin-left: 0.5%;
    padding: 0%;
}

li a {
    display:block;
    align-content: center;
    text-align:center;
    text-decoration:none;
    margin-right: 5px;
    margin-left: 5px;
    font-family:fantasy;
}

#logo {
    padding: 0;
    margin: 0%;
    width: 60px;
    height: 60px;
    float: left;
}

#coding1 {
    text-align:center;
    background-color: rgb(221,255,155);
    text-orientation: left;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    padding: 2%;
}

#post-body p {
    text-align:justify;
    width: 100%;
}

#player1 {
    text-align: center;
    align-content: center;
}

#container {
    margin-left:1%;
    margin-right:1%;
    margin-bottom: 1%;
    text-align: center;
    align-content: center;

}

#main {
    text-align: center;
    align-content: center;

}

#head {
    font-family:sans-serif;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    text-align: center;
    align-content: center;
}

nav {
    display: block;
    text-align: center;
    align-content: center;
}

#art a{
    background-color:black;
    color: rgb(94, 255, 0);
    display: flex;
}

#blog a{
    background-color:black;
    color: aqua;
    display: flex;
}

#code a{
    background-color:black;
    color:yellow;
    display: flex;
}

#wiki a{
    background-color:black;
    color:whitesmoke;
    display: flex;

}
#game a{
    background-color:black;
    color: grey;
    display: flex;
}

#posts {
    background-color: lemonchiffon;
    padding: 3%;
}

#posts h4 {
    text-align: center;
}

#posts p {
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    font-family: sans-serif;
    text-align: justify;
}

#player1 {
    text-align: left;
}

#dev a{
    background-color:black;
    color: grey;
    display: flex;
}

#game a{
    background-color:black;
    color: grey;
    display: flex;
}

#fun a{
    background-color:black;
    color:orange;
    display: flex;
}

.right {
    float: right;
    padding: 1.5px 1px 1px 1px;
}
#sm {
    text-align:center;
    color:yellow;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

#sm a{
    float: left;
    color:lightblue;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    text-decoration: none;
} 

span {
    margin-left:5px;
    margin-right:5px;

    margin-bottom:5px;
    align-content: center;
    text-align:center;
}

#slogan {
    text-align: center;
    display: block;
    background-color: aquamarine;
    color: darkblue;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

#ser {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-size: calc(1vw + 0.5vh + 0.3vmin);
}

#welcome {
    text-align: center;
}

#sm {
    float: right;
    align-content: center;
    text-align:center;
}