body {
    background-color: darkgray;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    padding: 1%;
}

li {
    float:left;
    background-color:black;
    display: block;
    margin-bottom: 3px;
    margin-right:5px;
    margin-top: 0.4%;
    display: flex;}

li a {
    display: flex;
    align-content: center;
    text-align:center;
    text-decoration:none;
    margin-right: 5px;
    margin-left: 5px;
    font-family:fantasy;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

#post-body p {
    text-align:justify;
    
}

#container {
    background-color: darkslateblue;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    align-content: center;
    align-items: center;
}

#main {
    text-align: center;
    align-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

nav {
    display: flex;
    text-align: center;
    width: 6px;
}

#art a{
    background-color:black;
    color: rgb(94, 255, 0);
    display: flex;
}

#blog a{
    background-color:black;
    color: aqua;
    display: flex;
}

#code a{
    background-color:black;
    color:yellow;
    display: flex;
}

#wiki a{
    background-color:black;
    color:whitesmoke;
    display: flex;

}
#game a{
    background-color:black;
    color: grey;
    display: flex;
}

#posts {
    background-color: darkcyan;
    align-content: center;
    align-items: center;
    align-self: center;
    padding: 1%;
}

#posts h4 {
    text-align: center;
}

#posts p {
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    font-family: sans-serif;
    text-align: justify;
}


#dev a{
    background-color:black;
    color: grey;
    display: flex;
}

#game a{
    background-color:black;
    color: grey;
    display: flex;
}

#fun a{
    background-color:black;
    color:orange;
    display: flex;
}

.left  {
    float: left;
    align-content: left;
    text-align: left; 
}

.right {
    float: left;
    display: flex;
}
#sm {
    text-align:center;
    color:yellow;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    margin-right: 2%;
}

#sm a{
    float: right;
}

#slogan {
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(127, 255, 202);
    color: darkblue;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    display: block;
    padding-left: 2%;
    padding-right: 2%;

}

#welcome {
    text-align: center;
}

#sm {
    float: left;
    margin-left: 2%;
    padding-bottom: 3%;
    width: 1%;
}

#welcome-message {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

#welcome-message1 {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: limegreen; 
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    text-align: justify;
}

#welcome-message2 {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: limegreen; 
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

#welcome-message3 {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: limegreen; 
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

#welcome-message4 {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: limegreen; 
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}



#picture {
    padding-right: 4%;
}

#navigator {
    align-content: center;
    text-align: center;
    float: left;
    margin-top: 2%;
    margin-left: 3%;

    padding: 1.5%;
}

#msg {
    display: flex;
    height: 270px;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    background-color: wheat;
}
