body {
    background-color: rgb(170, 170, 170);
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    padding: 1%;
}

.main-content {
    text-align: center;
    align-content: center;
    background-color: darkgoldenrod;
    padding: 1%;
}


.nav a {
    display:flex;
    align-content: center;
    text-align:center;
    text-decoration:none;
    padding: 1%;
    font-family:fantasy;
}

#container {
    margin-left:2%;
    margin-right:2%;
    text-align: center;
    align-content: center;
    background-color: rgb(255, 251, 0);
}

nav {
    display: block;
    float: left;
    align-content: center; 
    text-align: center;

}

#main {
    align-content: center;
    text-align: center;
}

#head {
    font-family:sans-serif;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

#art {
    background-color:black;
    color: rgb(94, 255, 0);
    display: block;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    margin-bottom: 5%;
    padding: 5px;
}

#blog {
    background-color:black;
    color: aqua;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    display: block;
    margin-bottom: 5%;
    padding: 5px;
}
#code {
    background-color:black;
    color:yellow;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    display: block;
    margin-bottom: 5%;
    padding: 5px;
}

#dev {
    background-color:black;
    color: grey;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    display: block;
    margin-bottom: 5%;
    padding: 5px;
}

#game {
    background-color:black;
    color: grey;
    display: block;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    margin-bottom: 5%;
    padding: 5px;
}

#fun {
    background-color:black;
    color:orange;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    display: block;
    margin-bottom: 5%;
    padding: 5px;
}


#wiki {
    background-color:black;
    color:whitesmoke;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    display: block;
    margin-bottom: 5%;
    padding: 5px;
}

#player1 {
    text-align: center;
    align-content: center;
    padding: 1.5%;
    margin: 1.5%;
}

#logo {
    padding: 0;
    margin: 0%;
    width: 54px;
    height: 60px;
    float: right;
}

#btnNext {
    background-color: darkblue;
    align-content: flex-end;
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    color: yellow;
    margin-right: 5%;
}
#btnBack {
    background-color: darkblue;
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    color: yellow;
    margin-left: 5%;
}

#pcode1 {
    align-content: center;
    background-color: rgb(221,255,155);
    text-align: center;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    font-family: sans-serif;
    margin-top:3%;
    padding: 2%;
}

#pnote {
    align-content: center;
    text-align: center;
    padding: 1.5%;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    font-family: sans-serif;
}

#mintro {
    align-content: center;
    text-align: center;
    margin: 1.5%;
    padding: 1.5%;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    font-family: sans-serif;
}


#slogan {
    text-align: center;
    display: block;
    color: darkblue;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

#ser {
    text-align: center;
    font-size: calc(1vw + 0.5vh + 0.3vmin);
}

#socialMedia span{
    align-content: center; 
    text-align: center;
    margin-right: 5%;
    margin-top: 20px;
}
