body {
    background-color: darkgray;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

.main-content {
    text-align: center;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    position:sticky;
    background-color:lightblue;
    padding:1%;
    align-content: center;
    text-align:center;
}

li {
    float:left;
    background-color:black;
    margin-left:2px;
    margin-right:2px;
    align-content: center;
    text-align:center;
    margin-left: 0.5%;
}

li a {
    display:block;
    align-content: center;
    text-align:center;
    text-decoration:none;
    margin-right: 5px;
    margin-left: 5px;

    font-family:fantasy;
}

#container {
    margin-top:2%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom: 2%;
    text-align: center;
    align-content: center;
}

nav {
    display: block;
    text-align: center;
    align-content: center;
}

#main {
    margin-top: 2%;
    background-color: white;
}

#head {
    margin-top: 2%;
    background-color:gray;
    color:lightblue;
    font-family:sans-serif;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    text-align: center;
    align-content: center;
}

#art {
    background-color:black;
    color: rgb(94, 255, 0);
    display: flex;
}

#blog {
    background-color:black;
    color: aqua;
    display: flex;
}
#code {
    background-color:black;
    color:yellow;
    display: flex;
}

#dev {
    background-color:black;
    color: grey;
    display: flex;
}

#game {
    background-color:black;
    color: grey;
    display: flex;
}

#fun {
    background-color:black;
    color:orange;
    display: flex;
}

#player1 {
    width: 90%;
    text-align: center;
    align-content: center;
    padding: 1.5%;
    margin: 1.5%;
}

#logo {
    padding: 0;
    margin: 0%;
    width: 60px;
    height: 60px;
}

#btnNext {
    background-color: darkblue;
    align-content: flex-end;
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    color: yellow;
    margin-top: -3%;
}
#btnBack {
    background-color: darkblue;
    align-content: flex;
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    color: yellow;
    margin-top: -3%;
}

#pcode1 {
    align-content: center;
    background-color: rgb(221,255,155);
    text-align: center;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    font-family: sans-serif;
    margin:2%;
    padding: 1%;
}

#pnote {
    align-content: center;
    text-align: center;
    padding: 1.5%;
    margin-bottom: 1.5%;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    font-family: sans-serif;
}

#mintro {
    align-content: center;
    text-align: center;
    margin: 1.5%;
    padding: .1.5%;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    font-family: sans-serif;
}

#wiki {
    background-color:black;
    color:whitesmoke;
    display: flex;
}

#slogan {
    text-align: center;
    display: block;
    background-color: aquamarine;
    color: darkblue;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}
#music {
    background-color:black;
    color: grey;
    display: flex;
}

#sm {
    background-color:darkblue;
    text-align:center;
    color:yellow;
    margin-top: 1%;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
}

#sm a{
    color:lightblue;
    font-size: calc(1.3vw + 0.5vh + 0.3vmin);
    text-decoration: none;
} 

#ser {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-size: calc(1vw + 0.5vh + 0.3vmin);
}
#video {
    background-color:black;
    color:lightseagreen;
    display: flex;
}
#socialMedia {
    float: right;
    align-content: center;
    text-align:center;
    margin-top: 2%;
}