<head>
    <title>Psy Jungle by OdicforceSounds</title>
    <meta name='description' content='Psy Jungle by OdicforceSounds'>
    <meta name='target' content='all'>
    <meta name='DC.title' content='Psy Jungle by OdicforceSounds'>
    <meta http-equiv='Expires' content='0'>
    <meta name="robots" content="index" />
  </head>

  <div id="player">
      <iframe width="40%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FOdicforceSounds%2Fpsy-jungle%2F" frameborder="0" ></iframe>
  </div>