html {
  margin:0;
  padding:0;
  background-color: #333;
}

body {
  margin:0%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
}

li {
  margin-left: 2rem;
  text-align:center;
  display: inline-block;
  position: relative;
}

a {
  display:block;
  color:white;
  text-decoration:none;
  font-size:calc(2vw + 0.5vh + 0.2vmin);
  margin:10px;
  text-align: center;
  align-content: center;
  align-self: center;

}

p {
  font-size:28px;
  color:black;
}

h1{
  font-size:36px;
  color:black;
}

address {
  position: relative;
  bottom: 0;
  width: 100%;
  height:30%;
  margin-left:2%;
}


#main {
  text-align: center;
  background: url("https://path_of_shields.keybase.pub/Myth-illusions-Memories/License/License.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -1%;
  background-color: black;
}

