/* You can add global styles to this file, and also import other style files */
html{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: black;
    text-align: center;
    display: flex;
}
p{
    color: aliceblue;
}
a{
    color: cornflowerblue;
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}