p {
    color: orange;
    font-size: 23px;
    font-size: calc(1.5vw + 1.5vh + 0.5vmin);
}

a {
    color:lightseagreen;
}
#box-text {
  text-align: center;
  align-content: center;
  font-size: 1.5em;
  line-height: 2;
}


#frame {
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

#image {
  text-align: center;
}

#banner {
    background: url("https://path_of_shields.keybase.pub/Myth-illusions-Memories/TopMenu/Love.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    /* Set up proportionate scaling */
    margin-top: 0;

    /* Set up positioning */
    position: absolute
  }


