#banner {
  background: url("https://raw.githubusercontent.com/odicforcesounds/Myth-illusions-Memories/master/TopMenu/YinYang.jpg") no-repeat center center fixed;
  background-size: cover;

  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: 0;

  /* Set up positioning */
  position: absolute;
}

.container {
    width: 100%;
    min-width: 25%;
    align-content: center;
    text-align: center;

}


li {
    font-size: calc(1.5vw + 1.5vh + 0.5vmin);
    margin-top: 2.5em;
}
