<head>
  <meta name='description' content='Brain Chill Out by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Brain Chill Out by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
  <title>Brain Chill Out by OdicforceSounds</title>
</head>
<div id="player">
  <iframe width="80%" height="550" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/319354732&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/magic/fire" routerLinkActive="active">here</a>
      to go back to "The Magic of Fantasy" album</span>
  </p>
</div>