 
#image{
  text-align: center;
  margin-top: 1rem;
}

#description{
  position: relative;
  width: 70%;
  margin-left: 15%;
}

#description p{
  float: right;
  text-align: justify;
  color: lightblue;
  font-size: larger;
}
