#main {
  width: 100%;
  min-width: 25%;
  text-align: center;
}

#text-box {
  width: 95%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: justify;
  font-size: 180%;
  line-height: 2;
}

#text-box p{
  color: black;
}

#text-box a {
  background-color: black;
}

#banner {
  background: url("https://path_of_shields.keybase.pub/Myth-illusions-Memories/EmotionalSignals/Emotional_Signals.jpg") no-repeat center center fixed;
  background-size: cover;

  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: 10;

  /* Set up positioning */
  position: absolute;
}