<head>
    <meta name='description' content='Because We Love by OdicforceSounds'>
    <meta name='target' content='all'>
    <meta name='DC.title' content='OdicforceSounds'>
    <meta http-equiv='Expires' content='0'>
    <meta name="robots" content="index" />
    <title>Because We Love by OdicforceSounds</title>
</head>
<div id="banner">
    <div id="player">
        <iframe width="80%" height="550" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/313031439&amp;color=%230066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    </div>
    <div id="text-box">
        <p>Because I love Life and People</p>
        <p>Because I love Life and Animals</p>
        <p>Because I love Life and Nature</p>
        <p>Because I love... but Wait...</p>
        <p>You Love as Well</p>
        <p>So</p>
        <p>Because We Love sounds better! :)</p>
        <p>//</p>
        <p>In the sense of those who in the pass had the same experience of me</p>
        <p>Many things had change for good or to less good</p>
        <p>but without any dubt, creating an expression of Power!</p>
        <p>the Dragon with his perfeccionism to care and control everything (Asia)</p>
        <p>Or the Tiger with his "skill" to create instalibity</p>
        <p>to make more business and to gain more power (America)</p>
        <p>Or the Rat, which in this case He should pay attention to my message...</p>
        <p>Well, if the Rat had the same experience of me (Tao)</p>
        <p>Even the Tiger or the Dragon would Fear His Will of Power</p>
        <p>...</p>
        <p>Every time sacred Territory is corrupted Tao touch our Planet</p>
        <p>I see Tao as a function</p>
        <p>A function that create conscience</p>
        <p>May the owner Share it or possess it</p>
        <p>...</p>
        <p>People around the world, Love!</p>
        <p>I believe more than 60% of the world population, Love!</p>
        <p>Love is Caring</p>
        <p>nothing more than that singular action of who is paying attention</p>
        <p>Love is not for our own benefit</p>
        <p>but for the benefit of other</p>
        <p>If we pay attention to others instabilities we can Help</p>
        <p>if we care, if we love</p>
        <br><br>
        <p><span style="background-color:black">
                Click <a routerLink="/path/of/shields" routerLinkActive="active">here</a>
                to go back to "Path of Shields" album</span>
        </p>
    </div>
</div>