<div id="banner">
  <div class="container">
    <ul>
      <h2><span style="background-color:black">
          <a routerLink="/bigger/or/equal/to/zero" routerLinkActive="active">
            Bigger or Equal to Zero - Starting Point</a></span></h2>
      <!--Tao -->
      <h2><span style="background-color:black">0</span></h2>
      <h3> <span style="background-color:black">
          <a routerLink="/tao/the/wind/of/god" routerLinkActive="active">
            Tao - The Wind of God</a></span></h3><br>
      <!--The One-->
      <h2><span style="background-color:black">1</span></h2>
      <h2><span style="background-color:black">A Potention of God</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/path/of/the/sun/keepers" routerLinkActive="active">
            Path of the Sun Keepers</a></span></h3>
      <br>
      <!-- FOOL -->
      <h2><span style="background-color:black">11</span></h2>
      <h2><span style="background-color:black">FOOL</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/noise/frequency/impulse" routerLinkActive="active">
            Noise Frequency - Impulse</a></span>
      </h3>
      <br>
      <!--Magus-->
      <h2><span style="background-color:black">12</span></h2>
      <h2><span style="background-color:black">MAGUS</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/ma6nata/evil/inside" routerLinkActive="active">
            Ma6nata - Evil Inside</a></span></h3><br>
      <!--High Priest-->
      <h2><span style="background-color:black">13</span></h2>
      <h2><span style="background-color:black">HIGH PRIEST</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/because/we/love" routerLinkActive="active">
            Because We Love</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/shiva/and/kali/dance" routerLinkActive="active">
            Shiva and Kali Dance</a></span></h3><br>
      <!--Empress-->
      <h2><span style="background-color:black">14</span></h2>
      <h2><span style="background-color:black">EMPRESS</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/just/another/open/door" routerLinkActive="active">
            Just Another Open Door</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/she/needs/he/create" routerLinkActive="active">
            She Needs - He Create</a></span></h3>
      <br>
      <!--Star-->
      <h2><span style="background-color:black">15</span></h2>
      <h2><span style="background-color:black">STAR</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/yellow/energy/burning/box" routerLinkActive="active">
            Yellow Energy - Burning Box</a></span></h3><br>
      <!--HEIROPHANT-->
      <h2><span style="background-color:black">16</span></h2>
      <h2><span style="background-color:black">HEIROPHANT</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/black/birds/red/eyes" routerLinkActive="active">
            Black Birds - Red Eyes</a></span></h3><br>
      <!--LOVERS-->
      <h2><span style="background-color:black">17</span></h2>
      <h2><span style="background-color:black">LOVERS</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/by/your/side" routerLinkActive="active">
            By Your Side</a></span></h3>
      <br>
      <!--Chariot-->
      <h2><span style="background-color:black">18</span></h2>
      <h2><span style="background-color:black">CHARIOT</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/dark/warrior" routerLinkActive="active">
            Dark Warrior</a></span></h3><br>
      <!-- SERPENT & STENGHT -->
      <h2><span style="background-color:black">19</span></h2>
      <h2><span style="background-color:black">SERPENT / STRENGTH</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/shake/my/snakes" routerLinkActive="active">
            Shake My Snakes</a></span></h3><br>
      <!--UNFOLDING OF GOD-->
      <h2><span style="background-color:black">2</span></h2>
      <h2><span style="background-color:black">UNFOLDING OF GOD</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/we/came/in/peace" routerLinkActive="active">
            We Came In Peace - Trance Zone</a></span></h3><br>
      <!--HERMIT-->
      <h2><span style="background-color:black">20</span></h2>
      <h2><span style="background-color:black">HERMIT</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/hermit/walk/for/liberty" routerLinkActive="active">
            Hermit - Walk for Liberty</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/oscar/fm" routerLinkActive="active">
            It is All About Me</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/it/is/all/about/us" routerLinkActive="active">
            It is All About Us</a></span></h3><br>
      <!--FUTURE-->
      <h2><span style="background-color:black">21</span></h2>
      <h2><span style="background-color:black">FUTURE</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/future/cosmic/atraction" routerLinkActive="active">
            Future - Cosmic Attraction</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/hacking/into/the/error/festival/patch" routerLinkActive="active">
            Hacking - Into the Error Festival Patch</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/crafting/new/generations" routerLinkActive="active">
            Crafting New Generations</a></span></h3><br>
      <!--JUSTICE-->
      <h2><span style="background-color:black">22</span></h2>
      <h2><span style="background-color:black">JUSTICE</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/dragon" routerLinkActive="active">
            Fire Dragon (Asia)</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/lets/make/business" routerLinkActive="active">
            White Tiger (America)</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/we/dont/need/security/but/functionality" routerLinkActive="active">
            We Don't Need Security but Functionality</a></span></h3><br>
      <!--HANGED MAN-->
      <h2><span style="background-color:black">23</span></h2>
      <h2><span style="background-color:black">HANGED MAN</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/secret/responsability/exposed" routerLinkActive="active">
            Secret Resposability - Exposed</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/possession/of/will" routerLinkActive="active">
            The Possession of Will</a></span></h3>
      <br>
      <!--DEATH-->
      <h2><span style="background-color:black">24</span></h2>
      <h2><span style="background-color:black">DEATH</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/wise/choice" routerLinkActive="active">
            Wise Choice</a></span></h3><br>
      <!--All Swords-->
      <h2><span style="background-color:black">25</span></h2>
      <h2><span style="background-color:black">ALL SWORDS</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/path/of/shields" routerLinkActive="active">
            Path of Shields</a></span></h3><br>
      <!--DEVIL-->
      <h2><span style="background-color:black">26</span></h2>
      <h2><span style="background-color:black">DEVIL</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/id/666" routerLinkActive="active">
            ID - 666</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/devil/spell/me/and/you" routerLinkActive="active">
            Devil Spell - Me and You</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/eyes/on/you" routerLinkActive="active">
            Eyes On You</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/call/me/karma" routerLinkActive="active">
            Call Me Karma</a></span></h3><br>
      <!--TOWER-->
      <h2><span style="background-color:black">27</span></h2>
      <h2><span style="background-color:black">TOWER</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/tool/kit" routerLinkActive="active">
            Social Tool Kit</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/social" routerLinkActive="active">
            World Wide Conscience Cleaner</a></span></h3><br>
      <!--EMPEROR-->
      <h2><span style="background-color:black">28</span></h2>
      <h2><span style="background-color:black">EMPEROR</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/light/interception/sensitive/and/obscure" routerLinkActive="active">
            Light Interception - Sensitive and Obscure</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/come/and/see/you/in/me" routerLinkActive="active">
            Come And See You In Me</a></span></h3><br>
      <!--MOON-->
      <h2><span style="background-color:black">29</span></h2>
      <h2><span style="background-color:black">MOON</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/myth/illusions/memories" routerLinkActive="active">
            Myth - Illusions - Memories</a></span>
        <h3><span style="background-color:black">
            <a routerLink="/union/point/synchronized" routerLinkActive="active">
              Union Point - Synchronized</a></span></h3>
      </h3>
      <br>
      <!--THE MOVEMENT OF GOD-->
      <h2><span style="background-color:black">3</span></h2>
      <h2><span style="background-color:black">THE MOVEMENT OF GOD / THE THRONE OF GOD</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/we/must/change/our/ways" routerLinkActive="active">
            We Must Change Our Ways</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/eternal/delay" routerLinkActive="active">
            Eternal Delay</a></span></h3><br>
      <!--Sun-->
      <h2><span style="background-color:black">30</span></h2>
      <h2><span style="background-color:black">SUN</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/pagan/cult/to/the/sun" routerLinkActive="active">
            Pagan - Cult to the Sun</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/connected/to/you" routerLinkActive="active">
            Connected to You</a></span></h3>
      <br>
      <!--LAST JUDGE TOOTH-->
      <h2><span style="background-color:black">31</span></h2>
      <h2><span style="background-color:black">LAST JUDGEMENT / TOOTH</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/eternal/masters/of/my/heart" routerLinkActive="active">
            Eternal Masters of My Heart</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/set/us/free" routerLinkActive="active">
            Set Us Free</a></span></h3><br>
      <!--UNIVERSE TAU CROSS-->
      <h2><span style="background-color:black">32</span></h2>
      <h2><span style="background-color:black">UNIVERSE / TAU CROSS</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/feel/the/night/feel/the/universe" routerLinkActive="active">
            Feel The Night Feel the Universe</a></span></h3><br>
      <!--SILENCE OF GOD-->
      <h2><span style="background-color:black">4</span></h2>
      <h2><span style="background-color:black">SILENCE OF GOD / ETERNAL MOUTH OF GOD</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/water/vs/blood" routerLinkActive="active">
            Water VS Blood</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/i/can/feel/i/have/a/body" routerLinkActive="active">
            I Can Feel I Have a Body</a></span></h3><br>
      <!--HOW IS LIKE GOD -->
      <h2><span style="background-color:black">5</span></h2>
      <h2><span style="background-color:black">WRATH OF GOD / THE BURNING ONES</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/fire/in/my/eyes/metal/in/my/soul" routerLinkActive="active">
            Fire In My Eyes Metal In My Soul</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/birds/of/fire" routerLinkActive="active">
            Birds of Fire</a></span></h3><br>
      <!--How is to be like God-->
      <h2><span style="background-color:black">6</span></h2>
      <h2><span style="background-color:black">HOW IS LIKE GOD</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/awakening/dreams" routerLinkActive="active">
            Awakening Dreams</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/sun/wukong/the/monkey/king" routerLinkActive="active">
            Sun Wukong - The Monkey King - Shri Jay Hanuman</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/fire" routerLinkActive="active">
            The Magic of Fantasy</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/boot/cat" routerLinkActive="active">
            Boom Cat</a></span></h3><br>
      <!--Please God-->
      <h2><span style="background-color:black">7</span></h2>
      <h2><span style="background-color:black">PLEASE GOD</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/tao" routerLinkActive="active">
            1 + 1 = 1 OR 3 (Tao)</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/we/are/tools/objects/of/expression" routerLinkActive="active">
            We Are Tools - Objects of Expression</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/hunting/dreams/hunters" routerLinkActive="active">
            Hunting Dreams Hunters</a></span></h3><br>
      <!--Healing of God-->
      <h2><span style="background-color:black">8</span></h2>
      <h2><span style="background-color:black">THE HEALING OF GOD</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/love/or/die" routerLinkActive="active">
            Love or Die</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/pain/vs/love" routerLinkActive="active">
            Pain VS Love</a></span></h3>
      <br>
      <!--YESOD-->
      <h2><span style="background-color:black">9</span></h2>
      <h2><span style="background-color:black">YESOD / FOUNDATION / LICENSE</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/you/are/the/wood/i/am/the/fire" routerLinkActive="active">
            You Are The Wood I Am The Fire</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/terms/of/living/love/or/die" routerLinkActive="active">
            Terms Of Living - Love or Die</a></span></h3>
      <h3><span style="background-color:black">
          <a routerLink="/license" routerLinkActive="active">
            Eternal License</a></span></h3><br>
      <!--FLAMES -->
      <h2><span style="background-color:black">10</span></h2>
      <h2><span style="background-color:black">CONCILER / FLAMES</span></h2>
      <h3><span style="background-color:black">
          <a routerLink="/love/or/die" routerLinkActive="active">
            Absolute - Everything and Everyone</a></span></h3><br>