.title {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 1%;
    text-align: center;
}

th {
    border: 1px solid #999;
    text-align: center;
    font-size: 120%;
}

td {
    border: 0.1px solid #999;
    padding: 1.5rem;
    font-size: 200%;
    text-align: justify;
}

button {
    background: darkslategrey;
    color: white;
    border: none;
    font-size: 120%;
    margin-top: 0%;
    text-align: left;
}

div {
    text-align: center;
    margin-top: -1%;
}

p {
    margin-top: 3%;
}

a {
    text-decoration: none;
    color: white;
    margin-top: 3%;
}