#main p{
  color:black;
}

.container {
  
  background: url("./backgrounds/lr.jpeg") no-repeat no-repeat fixed;
  background-size: cover;
  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;
  margin-top: 0;

  /* Set up positioning */
  position: absolute;
  left: 0;

}
