<head>
  <title>
    Fuck Politic - Sex is Fun VS Fuck Sex - Politic is Fun by Odicforcesounds
  </title>
  <meta name='description' content='Fuck Politic - Sex is Fun VS Fuck Sex - Politic is Fun by Odicforcesounds'>
  <meta name='target' content='all'>
  <meta name="keywords" content="OdicforceSounds, Tao, YinYang, SunWukong, Hanuman, Monkey, King, Edm, Bandcamp, fuck, politics, sex, fun">
  <meta name='DC.title' content='Fuck Politic - Sex is Fun VS Fuck Sex - Politic is Fun by Odicforcesounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>

<div id="main">
  <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=514105498//bgcol=333333/linkcol=0f91ff/minimal=true/track=3528818943/transparent=true/"
    seamless><a href="http://odicforcesounds.bandcamp.com/album/noise-frequency-impulse">Noise Frequency - Impulse by
      Odicforcesounds</a></iframe>
</div>
<div id="text-box">

  <br>
  <p>Here is an expression of how most of us are in society!</p>
  <p>Somehow we enjoy to dedicate our time to each choice.</p>
  <p>We always try to care the Community Needs</p>
  <p>while many other moments we care to enjoy our personal needs</p>
  <p>Should society care about their own body and soul?</p>
  <p>Yes, as it is doing it, while many others do not.</p>
  <p>Even in this two opositive perspectives of living life</p>
  <p>There is a lot in common in the way they behave.</p>
  <p>Even Politcs are needed to care the stability of each country people</p>
  <p>which means, countries need to build a educational system for their people.</p>
  <p>Even Sex needs Love so the Sex grow not only in performance but feeling!</p>
  <p>The first step to care the balance between people from where ever they are</p>
  <p>is to respect the ways they express how life is.</p>
  <p>while sharing both perspectives make us learn about our own perspective</p>
  <p>But keep continue sharing, because if you share, you are bored</p>
  <p>if you are bored, you wish to learn more</p>
  <p>Learn: all descriptions of all illusions were true!</p>
  <p>We are living the Spiritual Life ( Everyday )</p>
  <p>Even when we do not think or care about it</p>
  <p>Is there because we live with more people!</p>
  <p>And it would be there anyway because lonly people think how society is</p>
  <p>so they think about them selfs as well</p>
  <p>so they express how should work</p>
  <p>Because is how we are.. inside.. each one of us...</p>
  <p>Not so similar in the singularity of expression</p>
  <p>Not so similar in the singularity of each description of each expression</p>
  <p>Not so similar in the obsession of uniticy, which each expression</p>
  <p>was expressed by a body signal, where our brain which dance with the body</p>
  <p>creating an emotion, which care or not an Expression!</p>
  <p>How far is not the same emotion?</p>
  <p>How far we do not use the same tools to think?</p>
  <p>How far is an illusion, reality? </p>
  <p>Should We talk about the principles of Society?</p>
  <p>Should we talk about spirituality?</p>
  <p>Sould we talk about creativity and metamorphosis?</p>
  <p>Shoudl we talk about conditions?</p>
  <p>...</p>
  <p>We all create conditions</p>
  <p>since we are part of the wave</p>
  <p>which create conditions</p>
  <p>Even in a delicate condition</p>
  <p>I wish You to think about it!</p>
  <p>Then I Ask!</p>
  <p>It is possible to have patience?</p>
  <p>It is possible to give Time</p>
  <p>time to care?</p>
  <p>Just Because Time is a condition of Life expression!</p>
  <p>That we all make as a result of its own consequentional condition</p>
  <p>Some with more expression than others!</p>
  <p>Where the same illusions, if you care those illusions</p>
  <p>they can become real, as it is scientificly proven</p>
  <p>not by science, but democratly by many singlar brains</p>
  <p>Who understand how the illusions was built</p>
  <p>And say ( naturally Science is about Logic )</p>
  <br><br>
  <p><span style="background-color:black">
      Click <a routerLink="/noise/frequency/impulse" routerLinkActive="active">here</a>
      to go back to "Noise Frequency - Impulse" album</span>
  </p>
</div>