#main {
  width: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 1em;
}

#textarea {
    width: 100%;
    text-align: center;
    font-size: 1em;
}

#all2center {
  width: 100%;
  float: none;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

li {
  text-align: center;
  min-width: 25px;
}

.navbar {
  position: relative; /* Set the navbar to fixed position */
  float:center;
  margin:0 auto;
  display: flex;
  text-align: center
}
.navbar a {
  float: center;
  display: flex;
  color: #f2f2f2;
  background-color: black;
  text-align: center;
}

.nav-tabs {
background-color: black;
padding: 2px;
text-align: center;
}

.tab {
 background-color: blue;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
      display: flex;
      float: none;
      vertical-align: top;
  }
}
.navbar .navbar-nav {
  display: flex;
  float: none;
  vertical-align: top;
}

#mainly {
  text-align: center;
  display: flex;
  float: none;
}

#mainlyOne {
  text-align: center;
  display: flex;
  float: none;
}


#banner {
background: url("https://raw.githubusercontent.com/odicforcesounds/odicforcesounds/master/backgrounds/wecameinpeace.jpg") no-repeat center center fixed;
background-size: 100% 97%;
/* Set up proportionate scaling */
min-width: 100%;
min-height: 100%;
margin-top: 0;

/* Set up positioning */
position: absolute;
}
