<head>
  <title>
    Data - Objects and Functions by OdicforceSounds
  </title>
  <meta name='description' content='Data - Objects and Functions by OdicforceSounds'>
  <meta name='target' content='all'>
  <meta name='DC.title' content='Data - Objects and Functions by OdicforceSounds'>
  <meta http-equiv='Expires' content='0'>
  <meta name="robots" content="index" />
</head>
<div id="player">
    <iframe style="border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=997256964/size=small/bgcol=333333/linkcol=0f91ff/track=4209853396/transparent=true/" seamless><a href="http://odicforcesounds.bandcamp.com/album/spiritual-algorithm">Spiritual Algorithm by Odicforcesounds</a></iframe>
  </div>
<div id="text-box">
<p>Data all over the world</p>
<p>everything is data</p>
<p>We are data</p>
<p>even thoughts are data</p>
<p>data made of objects and functions</p>
<p>designing software is like designing and organizing society</p>
<p>I believe many developers could do better than the most actual representants</p>
<p>Logic: What is the propose to make business?</p>
<p>Logic: What is the propose to share?</p>
<p>Logic: Well, everything in this life have a price...</p>
<p>Even my Own Singular Expression...</p>
<p>Well, I dont care what is my price... </p>
<p>I do this for me and for You for Free</p>
<p>Like I say... We are Free to do what ever We Wish</p>
<p>We are Free to express what ever we wish</p>
<p>While only expressions can develop our behaviors</p>
<p>What Should we do with our simplicity that is fully functional?</p>
<p>We can accept that is nothing wrong because everything can be wrong</p>
<p>and we accept that everything is right because everything can be right</p>
<p>Why does a Perfect System with all Functional Tools to work together, doesnt?</p>
<p>Well, I do see it is working, but we need to do it even better!</p>
<p>Choose Your own, as I did choose my own as well</p>
<p>All objects are "private" and deal with private variables</p>
<p>In this case we are all objects and we all have our own variables to care</p>
<p>While functions, connect and make relations between all objects</p>
<p>which can have the same functionality</p>
<p>together</p>
<p>...</p>
<p>When Tragic events happen, people remember that for some moment</p>
<p>Even most dont realize that helping people or animals in most circunstances of surviving</p>
<p>Should be made every single day in several levels of need</p>
<p>because we all need "help"</p>
<p>We all need "Love"</p>
<p>We all need others in our lifes</p>
<p>so we feel functional</p>
<p>as a single object</p>
<p>with many similar variables with everyone else</p>
<br><br>
</div>