#banner {
    background: url("https://raw.githubusercontent.com/odicforcesounds/Myth-illusions-Memories/master/VisionsOfThor/BlackBirdsRedEyes.jpg") no-repeat center center fixed;
    background-size: 100%;

    /* Set up proportionate scaling */
    min-width: 100%;
    min-height: 100%;
    margin-top: 0;

    /* Set up positioning */
    position: relative;
  }

  .container {
    width: 100%;
  }

#main {
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
}
#text-box {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
  font-size: 120%;
}

